[2018-05-14 09:32] langf opened #418 "UseInclude白名单选项BUG"
请教下，为何在加入白名单选项后，白名单外的程序状态在“已停用”“已启用“不停的切换刷新
系统为win10 1709  16299.431   程序版本为MacTypeInstaller_2017_0628_0
谢谢
[General]
UseInclude=1

[IncludeModule]
firefox.exe

[2018-05-14 15:27] langf commented on #418
测试了一下，发现只是特定的几个进程会不停的切换状态，直接丢进白名单就好了
[IncludeModule]
ApplicationFrameHost.exe
explorer.exe
firefox.exe
RuntimeBroker.exe

[2018-05-18 03:55] TianLi-520 opened #419 "Win 1803使用MacType开机黑屏无法进入系统"
家里两台电脑，3代酷睿平台没有问题，7代酷睿升级后开机就黑屏，只有转圈的鼠标，无法进入系统，安全模式删除MacType就好了

[2018-05-20 14:30] alxtr1bal opened #420 "Latest 1803 or 17655, 1766, 17672 (skip ahead) insider : GSOD"
Do not install mactype on those latest versions of windows, you will have a GSOD : CRITICAL_PROCESS_DIED

[2018-05-24 14:13] guikarist opened #421 "Mactype service mode may cause KB4100403 update failing."
I had tried to update the second cumulative update for Windows 10 version 1803 (KB4100403) many times. However, at all times I failed to restart but saw a black screen with only a blue-circle 'busy' pointer on it.
Then I used system restoration to restore, stopped the Mactype service and updated again. This time everything worked fine.
I think probably Mactype service conflicts with this update.

[2018-05-24 14:15] guikarist commented on #419
Same like me. #421

[2018-05-25 05:49] xbipin commented on #421
yes its an issue if u run mactype as service, to update system first disable mactype service, let update run and when rebooted u can enable service again but make sure u keep it at delayed start, this will prevent black screen with just blue circle at boot

[2018-05-25 19:58] svenluijten opened #422 "Put "important notices" on the website"
I think it'd be beneficial to everyone to list important notices [like the ones in the `README`](https://github.com/snowie2000/mactype#important-notice) on the website as well, as not many people will be inclined to click through to GitHub just to read the README.

[2018-06-02 21:27] PayneLessDesigns commented on #323
Update 2 June 2018; Download the latest INSTALL program (MacTypeInstaller_2017_0628_0.exe was mine) from mactype.net. Run the downloaded install program. It should come up with a window indicating you can: Install, Repair, or, Remove. When I clicked Remove, it did a clean uninstalled.

[2018-06-04 08:56] dptr commented on #420
hope to fix it soon...

[2018-06-07 16:55] baris1892 commented on #420
Thanks for mention this, otherwise I would have installed it on W10 1803. Will this issue be fixed in near future?

[2018-06-08 09:39] rudolphos commented on #420
Last update was last year. Will there be an update this year? Few days ago I uninstalled mactype, because fonts were crashing - disappearing letters, etc. Restarting explorer didn't help.

[2018-06-09 00:16] trha commented on #420
FIxed in 17686.
<img width="1280" alt="annotation" src="https://user-images.githubusercontent.com/9519031/41185691-5a00ded6-6bbd-11e8-8825-cf633fb4a5f6.png">

[2018-06-11 02:38] snowie2000 commented on #420
@IceMan81 Actually I am working on it for a long time. The real problem is not with mactype itself. it's with the loader.
To solve the compatibility issue with Windows 10, I disabled MacType for a lot of processes. To continue to capture newly created processes and provide a smooth rendering experience without hooking into certain key processes, a new loader with a new process detection mechanism

[2018-06-11 07:31] IceMan81 commented on #420
@snowie2000 That's quite understandable.

You had mentioned before about a beta build that you were testing. Is that in any form that we can test? Of course with all the caveats of it being a beta..

[2018-06-13 03:11] privettoli opened #423 "Update Chocolatey repo"
https://chocolatey.org/packages/mactype is outdated. It would be nice to support it.

[2018-06-19 07:10] kraml commented on #420
I switched to white list mode (see https://github.com/snowie2000/mactype/issues/244) and only render some GUI program that I absolutely need better font looking, such as Firefox, Chrome, Outlook etc. Everything works fine on 1803, no stability issue so far.

[2018-06-19 07:15] kraml commented on #413
If you just need a PDF reader for reading without any fancy features, then browsers such as Firefox/Chrome/Edge actually provide better experience in terms of smoothness(scrolling and zooming, not font rendering) than those PDF readers.

[2018-06-25 11:33] MasonicCGI commented on #349
Please, is there anybody who could provide any clear information or solution for this issue?
I am installing Mactype 628_0 in Windows 10 Pro x64 and encountering a black screen immediately after booting the OS. The mouse cursor in not shown on the black screen and there is now way to access any Windows recovery tool. Only solution is to clean reinstall the entire OS.
I am configuring Mactype to ru

[2018-06-25 15:53] superfalse commented on #349
I installed it on a new Win10 installation a few weeks ago and it runs fine — tray mode only, though, as before. AFAIK there has not been an update yet.

[2018-06-25 16:53] MasonicCGI commented on #349
Thank you for your answer, Superfalse.
I just finished installing it in Manual mode and it seems that the crash at boot is solved for the moment. Will keep everyone updated.

Just one last thing: did you manage to create a working MacType shortcut for application Explorer.exe.
I am able to create working desktop shortcuts for all user installed applications, but not for this.
Maybe you were able t

[2018-06-25 16:58] superfalse commented on #349
Never tried manual mode as tray mode has always worked fine for me.

[2018-06-25 17:04] MasonicCGI commented on #349
What do you mean with Tray mode?
I see three modes, Registry, Service and Manual.

[2018-06-25 17:07] superfalse commented on #349
Load with MacTray: https://mk0intowindows84fvao.kinstacdn.com/wp-content/uploads/2016/09/macType1.png

[2018-06-25 17:09] MasonicCGI commented on #349
I see, thank you for the screenshot.
Are you selecting the option "Run as admin"?
And what about the two radio buttons after "Run as admin"?

[2018-06-25 17:15] superfalse commented on #349
I chose Run as admin and Standalone loading mode.
If it doesn't work as intended, you can always go back to the wizard and try other options.

[2018-07-04 14:52] mufunyo commented on #401
@extratype do you think LCD (ClearType) AA can be forced for all apps including Metro stuff in the code somewhere? For tablets we could implement a rotation callback so that the RGB orientation is adjusted for 90, 180 and 270 degree rotations.

I also tried to find the source code for MacTypePatch 1.26 but the source on GitHub only goes up to version 1.18.

[2018-07-04 15:45] extratype commented on #401
@mufunyo I don't think so. The pixel format (RGB vs. black) may not be compatible internally. I'm not sure hooking these [[1]](https://docs.microsoft.com/en-us/windows/desktop/api/d2d1/ne-d2d1-d2d1_text_antialias_mode), [[2]](https://docs.microsoft.com/en-us/windows/desktop/api/dwrite_1/ne-dwrite_1-dwrite_text_antialias_mode) would work.

[2018-07-06 04:38] extratype commented on #401
@snowie2000 Thank you for clarification. I just set Contrast=0 and it looks less horrible. But adjusting gamma is not enough to make fonts thicker. Is it possible to override DirectWrite with FreeType so that I can adjust RenderWeight? @silight-jp had some [experiments](https://silight.hatenablog.jp/entry/2016/10/03/234822) regarding that.

[2018-07-06 13:30] mufunyo commented on #401
@extratype Wow that is an interesting rabbit hole to dive into. It looks like Microsoft engineers are completely oblivious to how subpixel alpha blending can be done on the GPU, and instead the font engine is asked to render opaque text over a static background, and all ClearType functionality is disabled when the destination surface contains an alpha channel.

Of course subpixel alpha blending is

[2018-07-09 03:50] ccloli opened #424 "Install failed with error "参数错误""
I got an error when installing MacType at "backup" status, saying "参数错误".
![image](https://user-images.githubusercontent.com/8115912/42429767-a39e5d44-836d-11e8-8cd5-00381fb2ac93.png)
I also tried disabling anti-virus software (McAfee), but it doesn't work.

System: Windows 10 企业版 x64 (Windows 10 Enterprise x64)
MacType Version: 1.2017.628.0

[2018-07-09 03:54] ccloli commented on #424
BTW I'm installing MacType in a company computer, and the computer has been added to a
Windows Domain. I'm not sure is it also affected by domain policy, is it possible to get the installation log to help you debug and how to get it?

[2018-07-09 05:19] ccloli commented on #424
Solved by running the installer with administrator permission.

[2018-07-09 05:19] #424 closed

[2018-07-10 16:31] absay commented on #374
Was this issue ever resolved?

[2018-07-10 19:36] ssray23 commented on #374
Hi,

Unfortunately, no. The problem was seen even on the very last day I had
Mactype installed on my system.

Mactype had slowed my laptop's performance to such a great degree over
time, that I had to eventually remove it.

​

With Regards,
*Suddha Satta Ray*

On Tue, 10 Jul 2018 at 17:31, absay <notifications@github.com> wrote:

[2018-07-13 00:02] Hiroki3 commented on #387
This problem is solved when profile changed to others.
The profile which has trouble is 'default.ini', and I changed to 'LCD.ini' then problem is gone.
I don't identify what different point is affected to.
I attach these two profile.

[Default_and_LCD.zip](https://github.com/snowie2000/mactype/files/2190697/Default_and_LCD.zip)

[2018-07-17 00:44] snowie2000 commented on #387
Cool, thank you for pointing it out. I'll try it.

[2018-07-17 08:06] snowie2000 commented on #387
Ok, I tried, but it didn't crash. But, I still found the buggy code according to the crash you posted.
Stay tuned, and I'll upload a fix later today for you to try.

Thanks.

[2018-07-17 08:37] snowie2000 commented on #387
Here it is: [hotfix-for-ilegal-text.zip](https://github.com/snowie2000/mactype/files/2200851/hotfix-for-ilegal-text.zip)
Overwrite to your mactype folder and see if still crashes.

[2018-07-17 12:54] #413 closed

[2018-07-17 13:31] Hiroki3 commented on #387
Yeah, your fix has cleared my bug at all.
Even if FontLink=2, the annoying bug does not appear.
Thank you so much.

[2018-07-17 13:31] #387 closed

[2018-07-17 13:32] snowie2000 commented on #387
Thank you for your support. :+1:

[2018-07-18 03:14] #417 closed

[2018-07-18 03:16] #408 closed

[2018-07-18 03:22] #356 closed

[2018-07-18 07:22] #335 closed

[2018-07-19 01:42] snowie2000 commented on #350
I checked your report and it does not help much. The exception occurred inside library codes which are used almost everywhere. So there is no way to identify the error point.

[2018-07-19 01:42] #350 closed

[2018-07-19 01:44] snowie2000 commented on #415
Did you any error report for the applications you can't open?

[2018-07-19 20:38] RW66 commented on #415
I'm afraid not. Nothing happens at all when you click to open them. As soon as you disable mactype, they go back to working just fine.

[2018-07-20 08:09] snowie2000 commented on #366
@Infinality I have replaced all your "getenv" calls with my version and now they can be changed via profile, but so far as I tried, most of your parameters have no effect at all. I'm wondering if I should publish a version with your last mod.

[2018-07-23 02:47] snowie2000 commented on #366
@Infinality I have recompiled the freetype with gcc and succeed in linking with MacType, but still got no luck.
Every parameter except "INFINALITY_FT_USE_VARIOUS_TWEAKS" has no effect.

[2018-07-23 03:46] IceMan81 commented on #366
@snowie2000 Could you try if these variables
https://github.com/snowie2000/mactype/issues/366#issuecomment-338984581 here
make a difference? Previously I had found that these variables along with some others that @Infinality had provided made a difference.

INFINALITY_FT_STEM_ALIGNMENT_STRENGTH=25
INFINALITY_FT_STEM_FITTING_STRENGTH=25

For example, if you change these two to 100, you should see s

[2018-07-23 03:47] snowie2000 commented on #366
No, absoultely no difference as I can tell.

Gesly George <notifications@github.com>于2018年7月23日 周一11:46写道：

[2018-07-23 05:12] snowie2000 commented on #366
I've debugged the source and I'm 100% sure that it indeed got the assigned value from profile, it just doesn't make any difference for some reason.

[2018-07-23 05:40] IceMan81 commented on #366
I'm speculating here...

Wondering if the sensitivity of the values associated with these env variables depends on the value of the lcd filters, rendering weights etc., among other things. For example, if the weights are high, resulting in thicker fonts, then maybe the changes from these variables are not so visible.

INFINALITY_FT_STEM_DARKENING_AUTOFIT=true
INFINALITY_FT_STEM_DARKENING_CFF=true

[2018-07-23 06:52] snowie2000 commented on #366
Absolutely not.
Here you go: [ifinality-patch-pre-pre-alpha.zip](https://github.com/snowie2000/mactype/files/2218180/ifinality-patch-pre-pre-alpha.zip)
(together with a simple instruction file)

Also, it is compiled with the latest source with my latest clipboxfix implementation and other bugfixes.

[2018-07-23 07:00] snowie2000 commented on #366
Environments are not required at all, nor will them be read. (even the standard "FREETYPE_PROPERTIES=truetype:interpreter-version=38" is not required, it is already hardcoded).

[2018-07-23 16:11] IceMan81 commented on #366
Is the default value for INFINALITY_FT_FILTER_PARAMS set to 1 1 1 1 1 to avoid conflict with LcdFilterWeight?

[2018-07-25 02:22] snowie2000 commented on #366
@IceMan81 No, it's just a mistake of the demo.txt file. The actual default value the same as the value suggested by @Infinality : "11 22 38 22 11"

[2018-07-26 02:06] narukamiko opened #425 "Cannot work with chrome 68?"
My system is win10 and chrome version is 68.0. But the mactype cannot work with chrome? Is there any solution?

[2018-07-26 02:09] snowie2000 commented on #425
MacType works with Chrome, but not completely. You need to enable [DirectWrite](https://github.com/snowie2000/mactype/wiki/DirectWrite) support and it may still not seem good enough.

To fully utilize its power of rendering, you have to use 3rd party chromium based browsers such as Cent browser which allows you to disable DirectWrite completely.

[2018-07-26 02:12] narukamiko commented on #425
@snowie2000 Thanks.

[2018-07-26 15:43] IceMan81 commented on #366
@snowie2000 So I tried out the build, and as before it makes a difference. The fonts are sharper (better clarity), so I definitely feel that those VARIABLES are working. INFINALITY_FT_FILTER_PARAMS with corresponding values for LcdFilterWeight has noticeable impact. You may notice multipe LcdFilterWeight values commented out. They are the different values I tried with along with the corresponding

[2018-07-26 15:48] snowie2000 commented on #366
I've found that it crashed my webstorm when I scrolled through the font list in the setting dialog.

I'll fix it soon and release a beta.

Plus, the mactray is ready too.

[2018-07-26 22:49] IceMan81 commented on #366
:+1:

[2018-08-01 18:03] IceMan81 commented on #366
@snowie2000 fyi, so far I've seen the BSOD only once.

[2018-08-07 15:05] IceMan81 commented on #366
@snowie2000 I'm seeing some memory issues, where my Win 7 is running out of memory after a long period of time. Quite hard to say that this has got something to do with the build, but this is probably the only significant change I have made on my system.

Just passing along any information that might be useful.

[2018-08-07 15:18] snowie2000 commented on #366
Okay... Thanks and I'll look through all the changes.

[2018-08-17 19:30] Infinality commented on #366
I'm testing out the alpha as well.  I can definitely tell that it's working on certain fonts, like Segoe UI, but still not sure on ones like Consolas.  I might just need to reboot though to freshen everything up.  Thanks for incorporating this!

[2018-08-19 13:38] MaxCaulfield95 commented on #425
![2018-08-19 14_26_38-settings](https://user-images.githubusercontent.com/8025617/44309342-2df55780-a3bd-11e8-9317-1ce9bd80e812.png)
This warning seems to appear every time I start Chrome now. Any way around it? Directwrite is enabled.

[2018-08-19 16:31] SquirrelCoder commented on #425
I got this warning today in Chrome too.

[2018-08-20 00:12] sammilucia commented on #425
Google Chrome's DirectWrite font engine is becoming less and less compatible with MacType. It's not a MacType problem, it's Chrome's mission to continually speed up page rendering - they're hacking the font engine themselves.

The solution is to use CentBrowser instead, which is a custom build of Chrome (https://www.centbrowser.com/). CentBrowser still contains the GDI font engine, so MacType work

[2018-08-20 01:44] snowie2000 commented on #425
Obviously, there is no way to walkaround it as it is detected from Chrome side.
If what the incompatibility means is the sandbox integrity break, it is kind of true. Because Mactype has to break the sandbox to some extent to inject into its subprocess to make the rendering work.

For Directwrite compatibility, I don't think there will be a big problem in the near future unless the Chrome team deci

[2018-08-20 06:59] sammilucia commented on #425
Perhaps the Chrome team has seen conflicts with MacType and blocked it.

Closing for now as the current workaround is to use CentBrowser.

[2018-08-20 06:59] #425 closed

[2018-08-20 07:16] sammilucia commented on #415
Hey @RW66 ... For Steam you can modify the shortcut to add "-no-cef-sandbox", which fixes a conflict with the web engine in Steam and MacType. You will need to launch Steam from the icon each time, before loading a game, for this to work.

There is also an option in Steam Settings -> Interface -> Unitck "Enable DirectWrite" which then fully uses MacType / GDI for font rendering.

Adobe Reader can

[2018-08-20 07:18] sammilucia commented on #422
I can make a readme page on the site if you want @snowie2000

[2018-08-20 11:15] sammilucia commented on #422
Sure thing, email me the details and I'll get around to it

[2018-08-20 11:16] sammilucia commented on #422
Thank you @svenluijten great suggestion

[2018-08-20 11:28] sammilucia opened #426 "List of known program conflicts with MacType."
A place to collect all known conflicts, e.g:
- EXE won't start
- BSOD / GSOD / CTD
- EXE starts but errors
- Completely unreadable/unusable

This is NOT for software which is working, but with minor font rendering defects.
- AoEDE.exe (Age of Empires - Definitive Edition, "rendering failed, displayed strangely" from #406)

[2018-08-20 11:33] sammilucia commented on #415
@RW66 can you please try the latest MacType-Patch 1.26 from here https://silight.hatenablog.jp/entry/MacTypePatch and let us know if the problems continue.

Closing issue until we hear back.

[2018-08-20 11:33] #415 closed

[2018-08-20 11:34] sammilucia commented on #406
Added this issue with #426 - closing duplicate.

[2018-08-20 11:34] #406 closed

[2018-08-20 11:34] sammilucia opened #427 "List of minor rendering defects"
This is for collecting known minor rendering defects. E.g.
- Software works but:
- Clipping problems
- Weird characters, but still readable
- Vertical rendering issues
- Etc.

For software failures/conflicts, please log against #426.

[2018-08-20 11:37] sammilucia commented on #423
@snowie2000 do you know who maintains the chocolatey?

[2018-08-20 11:43] sammilucia commented on #423
Hey @privettoli ... Thank you, it would be nice! However we don't maintain it unfortunately.

Please get in touch with the maintainers listed on the chocolatey page (gummesson or cole.mike) to see if they'll update it. Remember new builds are experimental (and may even prevent Windows from starting)... Also there is a newer build available at mactype.net/station.

I'm happy to coordinate with the

[2018-08-20 11:43] #423 closed

[2018-08-20 11:58] sammilucia commented on #416
Hi @Jamesits, I've been unable to reproduce this on Windows 10 build 1803 with MacType MacType_CTP_171017.rar. Can you please let us know what version of MacType you're using?

Please ensure:
1. You'vee replaced the DLL files with the newer ones in MacType_CTP_171017.rar (available from mactype.net/station)
2. Update to the latest version of Windows 10. Many font scaling issues are resolved in the

[2018-08-20 12:04] sammilucia commented on #412
Hi @Craftplacer ... thanks again for reporting this, and for working with Microsoft on the issue! In your mactype .ini file that you're using please add
PaintDotNet.exe under the [UnloadDll] section of the ini and restart your computer.

If you can do that for now, I'm going to close this and add it to issue #426 so we can keep all the known problems together for testing.

[2018-08-20 12:04] #412 closed

[2018-08-20 12:24] sammilucia opened #428 ""Custom" install doesn't install .Core.dll files and does not create Uninstaller"
To reproduce:
1. Install MacType 628
2. Select "English"
3. Select "Custom" install
4. Untick "XHei"
5. Continue with the installation

Expected result:
- MacType installs correctly, just without XHei

Actual result:
- MacType does not install MacType.Core.dll or MacType64.Core.dll files, and crashes repeatedly when running MacWiz.exe

[2018-08-20 12:25] sammilucia commented on #325
--disable-directwrite-for-ui is no longer required for CentBrowser latest (3.5.3.50). Closing issue.

[2018-08-20 12:25] #325 closed

[2018-08-20 12:31] sammilucia commented on #428
As per #393 the Uninstall entry may not be created in Programs and Features / Apps & Features with a "Custom" install either. Putting this here for testing but unable to confirm at the moment.

[2018-08-21 19:21] istir opened #429 "Font rendering in firefox 62.0 compared to Cent Browser 3.5.3.50"
Hi!
I use MacType for few years now and it always worked more or less without any problems. Recently I wanted to switch from Cent Browser (directwrite disabled) to Firefox, but MacType font rendering is somewhat wrong. I remember that around version 55 everything worked great with right flags, but now it looks... just wrong.

I read about changing flags, so I changed following flags:
gfx.content.a

[2018-08-21 20:20] istir commented on #429
For now it looks like default windows rendering when installed in VMware looks better than MacType

[Host-Windows10-MacType](https://i.imgur.com/dfFX8EP.png)
VMWare:
[Stock Windows rendering](https://i.imgur.com/KPuuUTN.png)
[MacType with direct2d.disabled=true and my .ini](https://i.imgur.com/DPsTdlP.png)

Back to Host-Windows:
after returning gfx.content.azure.backends and gfx.canvas.azure.backe

[2018-08-23 14:35] Infinality commented on #366
After some more testing, I don't think the stem alignment code is being run properly.  If it runs with the ENV_VARS that IceMan81 has set, It should be aligning stems.  Arial 13px is a good one to test with because you can see the alignment pretty easily.  Here is an example from a Linux system running freetype-infinality:

![image](https://user-images.githubusercontent.com/1253650/44531908-7a8bac

[2018-08-26 17:44] qrealmoments opened #430 "印象笔记最新版的编辑器无法被渲染"
该如何解决呢？

[2018-08-27 01:37] sammilucia commented on #430
Hi. Thank you for reporting this. A lot of web software like Evernote Desktop use Electron or web frameworks based on Chromium which is not compatible with MacType. This is a known issue and we're discussing possible solutions.

The solution I use for now is to us the web only version of Evernote/Spotify/Slack/etc. in Cent Browser -> More Tools -> Create Shortcut -> Open as Window. This can then b

[2018-08-27 01:38] snowie2000 commented on #430
MacType can only provide basic DirectWrite support for those programs if you enable it in your profile.
No future advanced supported is currently planned.

[2018-08-27 13:32] ShintakuNobuhiro commented on #426
Cannot Start VM with Oracle VirtualBox

[2018-08-27 19:36] joshuah345 commented on #399
the installer and macwiz dont open for me, i have rebooted already

[2018-08-27 19:36] joshuah345 commented on #399
i chose registry mode

[2018-08-28 05:42] sammilucia commented on #399
Please try installing MacType 2017_0628 as a *Typical* install (not Custom). Once it has done a full install, it should then have an uninstall option in Programs and Features.

The installer needs to be redone, we will get to this as time permits, however for now avoiding a Custom install should help.

This is a duplicate of #428.

[2018-08-28 05:43] sammilucia commented on #323
Duplicate of #428.

[2018-08-28 05:58] sammilucia commented on #399
Closing duplicate

[2018-08-28 05:58] #399 closed

[2018-08-28 06:00] sammilucia commented on #393
Hey @RWTucker - sorry I thought responded to this. Please try installing again as a Typical install (not custom). Please re-open this if that doesn't fix the issue.

[2018-08-28 06:00] #393 closed

[2018-08-28 06:03] sammilucia commented on #392
Hi @lutein , can you please tell us the full version of Windows Server? You can type `WINVER` from the Run prompt to find out easily.

[2018-08-28 06:04] sammilucia commented on #384
Closing this issue as installer 904 is obsolete.

[2018-08-28 06:04] #384 closed

[2018-08-28 06:06] sammilucia commented on #359
Closing as resolved.

[2018-08-28 06:06] #359 closed

[2018-08-28 06:06] sammilucia commented on #362
Closed as resolved.

[2018-08-28 06:06] #362 closed

[2018-08-28 06:09] sammilucia commented on #371
Closed as I don't believe this is an issue with MacType. However, please be aware:
- There are problems with the Custom install of MacType 2017_628 - please use Typical install instead

[2018-08-28 06:09] #371 closed

[2018-08-28 06:10] sammilucia commented on #382
This is a known problem with the installer logged in #428 ... Please choose a Typical install and **not** custom install for now.

Closing issue as duplicate.

[2018-08-28 06:10] #382 closed

[2018-08-28 06:12] sammilucia commented on #352
Closed as resolved. Please install as "Typical" mode for now (avoid "Custom") to avoid this problem.

[2018-08-28 06:12] #352 closed

[2018-08-28 06:16] sammilucia commented on #250
Hi @ModDM. Sorry we missed your issue.

Yes MacType supports both x86 and x64 programs.

Thank you for reporting this issue, can you please confirm whether the latest version fo MacType is working in Pinegrow http://www.mactype.net/station/Release/MacTypeInstaller_2017_0628_0.exe
or you can try the newer .dll files here http://www.mactype.net/station/MacType_CTP_171017.rar.

Please also note the *

[2018-08-28 06:26] sammilucia commented on #139
Hi @amosbird, I'm closing this as it was an issue with an old version of MacType. Please let us know if you're still experiencing this issue with the latest MacType 😊. Thank you

[2018-08-28 06:26] #139 closed

[2018-08-28 06:27] sammilucia commented on #149
Closing this as it's with an obsolete version of MacType. Please let us know if this occurs with the latest version.

[2018-08-28 06:27] #149 closed

[2018-08-28 06:27] Jamesits commented on #271
Cannot reproduce on 1.2017.628.0.

[2018-08-28 06:29] sammilucia commented on #156
Closed as resolved in the latest version of MacType. Please let us know if you still experience this bug 😊

[2018-08-28 06:29] #156 closed

[2018-08-28 06:29] sammilucia commented on #158
Thank you so much for your support! 😊

[2018-08-28 06:29] #158 closed

[2018-08-28 06:31] sammilucia commented on #271
Thanks so much @Jamesits 😊
Closing as resolved

[2018-08-28 06:34] #312 closed

[2018-08-28 06:35] IceMan81 commented on #366
@snowie2000 Do you see anything that might explain this behavior?

[2018-08-28 06:38] sammilucia commented on #369
Hiya, can you please confirm if MacType is working correctly with the latest DLL files here: http://www.mactype.net/station/MacType_CTP_171017.rar

[2018-08-28 06:44] sammilucia opened #431 "MacType_CTP_171017.rar prevents login on Windows 10"
To reproduce on WIndows 10 latest:
1. Install MacTypeInstaller_2017_0628_0.exe in Typical mode
1. Replace the DLLs with those from MacType_CTP_171017.rar
1. Start MacWiz.exe and configure MacType to start as Registry mode
1. Reboot

Expected result:
- Windows 10 logs in correctly

Actual result:
- Windows 10 hangs on logon screen

Notes:
- Does not occur when MacType is running as Service mode (De

[2018-08-28 06:44] sammilucia commented on #349
For Windows 10 please check out the **Important notice!!** on the Readme here: https://github.com/snowie2000/mactype. Let us know if you still have problems.

I've created a new issue #431 to track this. Closing.

[2018-08-28 06:44] #349 closed

[2018-08-31 07:26] Mahayu commented on #431
Use service mode in Win10 latest version please, as registry mode surly cause this bug.

[2018-08-31 07:27] Mahayu commented on #431
#319

[2018-08-31 07:32] Mahayu commented on #426
Touhou series should't use Mactype or GDI++, as it will make subtitles coverd by black lanes.

[2018-08-31 07:34] Mahayu commented on #427
Touhou series should't use Mactype or GDI++, as it will make subtitles covered by black lanes.

[2018-09-09 00:29] phendrome commented on #399
@cdl that solution is the one that works. Launching that EXE file actually has a proper "REMOVE" button.

[2018-09-11 01:31] sammilucia commented on #271
Thanks for your additional diagnostic work @Jamesits and for letting me know. I've added this to the list of known problems in #426. Since you've reinstalled Windows and the problem doesn't exist without MacType I've added it as a confirmed problem.

Have you tried just ignoring the exceptions and continuing running Telegram? Does it continue to work properly (other than the exceptions)?

[2018-09-11 01:34] Jamesits commented on #271
I've switched to Unigram (a 3rd party Telegram UWP impl) and it is affected too. I'm doing more experiments.

[2018-09-11 01:54] Jamesits commented on #271
It seems MacType is causing issues with all UWP programs written in WinRT XAML. Microsoft Edge randomly stopped responding (not responsive to all click events, but scrolling works fine; unable to recover webpage) after enabling it.

MacType version:	1.2017.628.0
MacTray version:	1.0.5.2048
MacTuner version:	1.0.2.350

[2018-09-11 01:56] snowie2000 commented on #426
@ShintakuNobuhiro VM is known to be incompatible with any dll injection.
You have to add VirtualBox.exe to unloaddll section to avoid it.

[2018-09-11 02:02] snowie2000 commented on #271
Microsoft has reported to me a lot of crash issues (with bug reports pointing to easyhook), however, because they only collect basic stack traces instead of memory dumps, although I identified the specific line of the crash, it doesn't seem to be possible to crash at that line.
And I tried mactype on Windows 10, trying to reproduce some of the key API calls that cause the crash with no luck.
I rep

[2018-09-11 09:27] dptr opened #433 "win10 10.0.17134.191 explorer.exe crash"
每次shift+delete某个文件的时候，或者进入文件的属性，查看“安全”选项卡的时候，explorer.exe 进程都会crash，错误码：0xC0000374

mactype加载方式：注册表加载

[explorer.exe.500.zip](https://github.com/snowie2000/mactype/files/2370380/explorer.exe.500.zip)

 	ntdll.dll!RtlpHeapHandleError()	未知
 	ntdll.dll!RtlpHpHeapHandleError()	未知
 	ntdll.dll!RtlpLogHeapFailure()	未知
 	ntdll.dll!RtlFreeHeap()	未知
 	MacType64.Core.dll!00007ffa4c3067d4()	未知
 	MacType64.

[2018-09-11 09:30] dptr commented on #433
禁止掉mactype的自动加载，然后重启计算器，则恢复正常。mactype使用的是官网的最新版

[2018-09-11 09:49] snowie2000 commented on #433
感谢汇报，我会去看一下的。

Nua <notifications@github.com>于2018年9月11日 周二17:30写道：

[2018-09-13 01:35] snowie2000 commented on #433
我调试了dump文件并对比了代码后确定，你的错误出现在ft.h 第385行
`if (FTC_Manager_LookupSize(cache_man, &fscaler, &font_size))`
之后在freetype中由于释放内存而崩溃。
很遗憾的是由于错误出现在freetype中，我没有能力找到问题所在。推测可能你有某个自己安装的字体和freetype有兼容性问题。

[2018-09-13 10:03] apek123 opened #435 "instalation problem... what does mean?"
![snag-18091311511300](https://user-images.githubusercontent.com/43236684/45481878-fa53e600-b74c-11e8-8452-dca3be5a4dd8.png)

instalation problem... what does mean?

[2018-09-13 10:15] snowie2000 commented on #435
For some reason, some of the text have not been translated correctly.  This part of the text mean there's another installation undergoing your system. You have to wait till it's finished to start this one.

[2018-09-17 14:26] snowie2000 commented on #431
Try the new beta release and see if it alleviates the problem.

[2018-09-17 15:22] IceMan81 commented on #366
@snowie2000 Does the new beta release include the infinality changes as well?
https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta

[2018-09-17 15:53] snowie2000 commented on #366
No, it doesn't. Since there seems to be no way to make stem alignment working and there is no new version of patch comes out supporting the freetype 2.9.1, I decide to go with freetype original.

[2018-09-18 01:27] snowie2000 commented on #426
UWP is always a mystery. No one knows what happened, even those Microsoft guys.

[2018-09-18 01:46] sylveon commented on #426
It's not really a UWP only problem: as noted later in the thread, the desktop build experiences the same issue. Furthermore, the version distributed on the Store is just a Win32 app packaged with the Desktop Bridge (which creates an .appx file holding conventional Win32 programs).

[2018-09-18 01:51] snowie2000 commented on #426
Random crashes are really annoying for debugging.
Even it's just a wrap for Win32 app, it runs under the UWP isolated environment which is known to be affected by MacType.

[2018-09-18 01:52] snowie2000 commented on #426
@sylveon Can you do a mini dump when this app crashes?

[2018-09-18 01:53] sylveon commented on #426
A memory dump from the desktop build (so UWP shouldn't be messing stuff) was provided in the issue, you can use it to debug.

[2018-09-18 01:54] snowie2000 commented on #426
Good, I see it. Thanks.

[2018-09-18 03:29] snowie2000 commented on #426
@sylveon I justed the code a little and merged some of the assemblers from the latest Easyhook.
Let's see if it make the crash situation any better.

[easyhook-0918.zip](https://github.com/snowie2000/mactype/files/2391077/easyhook-0918.zip)

[2018-09-18 03:33] sammilucia commented on #426
@snowie2000 should this be used with the 20180917 beta or it doesn't matter?

[2018-09-18 04:06] snowie2000 commented on #426
It's version independent.

[2018-09-18 04:42] IceMan81 commented on #366
@snowie2000 OK, I thought the stuff in the release may have already been included in the infinality-pre-alpa release

[2018-09-18 05:00] snowie2000 commented on #366
I found some bugs after that build, and I have rewritten the process capture routine for the tray app.

[2018-09-18 06:27] snowie2000 commented on #426
@sylveon @sammilucia I found another problem that in some rare cases, the hook structure allocated will be freed twice. That may be the real case. Try it.
[easyhook-0918-2.zip](https://github.com/snowie2000/mactype/files/2391406/easyhook-0918-2.zip)

[2018-09-18 08:07] snowie2000 commented on #426
[easyhook-20180918-2.zip](https://github.com/snowie2000/mactype/files/2391713/easyhook-20180918-2.zip)
Try this one instead although I believe the previous one has already fixed the problem. (I re-fixed a problem that's not exist)

[2018-09-19 00:49] guikarist commented on #419
终于要更新了

[2018-09-19 01:03] sylveon commented on #426
I don't have a VM to test this on, but I'll set one up when I have time (I wish that enabling Hyper-V on my machine doesn't makes it get stuck on the spinning rings)

[2018-09-21 17:07] Hazealign commented on #431
@snowie2000 It works in new beta. Thanks :)
p.s. I'm using Windows 10 1803 Build.

[2018-09-21 23:58] sylveon commented on #426
Ok, after installing MacType in a VM, I first had issues with opening TranslucentTB's context menu, and then with opening the color picker. Never crashing at startup (unlike reported in my issue tracker).

After replacing the EasyHook DLLs, both issues where fixed.

[2018-09-22 00:26] snowie2000 commented on #426
And while there are no more crash problems with translucentTB, does MacType still have the effect on it?

[2018-09-22 00:28] sylveon commented on #426
Yes, it still applies correctly. I can't do much playing around, as TranslucentTB's interface is basically just a context menu.

[2018-09-22 00:33] snowie2000 commented on #426
That's interesting as the code indicates that the problem should only occur when the hook fails. :thinking:
So you won't get locked in the Windows 10 logon screen anymore. Are you using the latest beta with just the public version I released last year with patched dlls?

[2018-09-22 00:35] sylveon commented on #426
I'm using the latest Skip Ahead build, but I only use MacType (with the EasyHook dll updated by the ones on https://github.com/snowie2000/mactype/issues/426#issuecomment-422296797) by starting the tray app manually, so it doesn't applies to the lock screen.

[2018-09-22 00:37] snowie2000 commented on #426
Could you try the MacType beta version in the release section with the Registry mode?
Many thanks.

[2018-09-22 01:59] sylveon commented on #426
I've extracted the beta over the latest release, replaced the EasyHook dlls with the ones in this thread, ran MacWiz, set it to Registry (and created+set a profile with red text to clearly see the difference) and restarted.

I noticed it wasn't working at all, so I disabled Secure Boot for the VM because the registry mode is probably using AppInit_DLL, which is not working with Secure Boot on. Aft

[2018-09-22 02:16] snowie2000 commented on #426
Yes, secure boot must be disabled for registry mode to take effect or Windows will ignore the AppInit_DLL value.
The text color is really weird. Does the weird text color appear with the old MacType too?

[2018-09-22 03:12] sammilucia commented on #426
Thanks @sylveon that reminded me - I've updated the Readme with the info about Secure Boot

[2018-09-22 03:27] sammilucia commented on #426
@snowie2000 20180917 beta + easyhook-20180918-2 is working flawlessly for me on win8.1. I think we may have a new RC if no one has any problems. great work! 😊

[2018-09-22 03:45] snowie2000 commented on #426
Lock and load, ready to fire. :laughing:

[2018-09-22 05:52] sammilucia opened #436 "Installer for MacType"
This issue is to discuss and decide an installer for future versions of MacType.

The v2017.628.0 installer (Advanced Installer) has had some issues with compatibility between versions of itself making it difficult to maintain, so may not be suitable.

## Must-haves
- Multi-language
- Easy to maintain
- Low-cost or ideally free / open source
- Service creation
- Registry manipulation
- Reliable re

[2018-09-22 05:56] snowie2000 commented on #436
Thank you for your awesome job.

Of course, I would like to switch to something more stable, such as innosetup, but the new installer has to be compatible with the old one. It needs to
- properly uninstall the previous one
- get the installation location of the previous installer
- get the installed component if possible
- implement all features needed.

Ah... none of which is my thing... :disappo

[2018-09-22 05:56] sammilucia commented on #436
I don't mind learning scripting for this... I guess once the script is written it shouldn't be difficult to maintain, it's just a pain to write because we'll only look at it infrequently and forget the language...

InstallAware and Advanced Installer both look good to me

[2018-09-22 05:57] snowie2000 commented on #436
Advanced installer is what I use so far and is very problematic. Maybe I didn't use it right?

[2018-09-22 05:59] sammilucia commented on #436
@snowie2000 I think we should look at InstallAware Free, it looks similar in terms of features and is no scripting.

I'm happy to to take the lead on working out the installer if you like. I've always wanted to do it but never had a reason... Can you send me the scripts/source for the Advanced Installer package so I can analyse?

[2018-09-22 06:01] sammilucia commented on #436
Or add them to github and I'll work directly in the repo. Whatever's easy for you.

Please also tell me the version of Advanced Installer you used if you can work it out - because you said new versions weren't compatible?

[2018-09-22 06:12] snowie2000 commented on #436
It's on my private git.
I sent you everything you need via email.

[2018-09-22 06:14] sammilucia commented on #436
Okay ta ++

[2018-09-22 06:55] IceMan81 commented on #366
@snowie2000 New build works well, though I still think some of the infinality changes make it even better, esp stem darkening and stem alignment. I always felt stem alignment worked to some extent because there was a noticeable difference when changing stem alignment and stem fitting paramters.

@Infinality Would you have a infinality patch for freetype 2.9.1 ?

[2018-09-22 09:01] sammilucia commented on #435
closing as this will be resolved in the next installer

[2018-09-22 09:01] #435 closed

[2018-09-22 09:01] sammilucia commented on #428
will be resolved in #436 - closing

[2018-09-22 09:01] #428 closed

[2018-09-22 09:02] sammilucia commented on #431
closing as resolved in 1.2018.917.0-beta2

[2018-09-22 09:02] #431 closed

[2018-09-22 09:06] sammilucia commented on #433
@dptr thanks for reporting.

I think you will find the MacType64.Core.dll and MacType.Core.dll files are missing as per https://github.com/snowie2000/mactype/issues/428. Please reinstall v2016 as a **Typical** install, or copy the all new files from the latest beta release here https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

I'll close this for now as I believe it's a known

[2018-09-22 09:06] #433 closed

[2018-09-22 09:09] #162 closed

[2018-09-22 09:12] sammilucia commented on #165
closed because workaround is available.

[2018-09-22 09:12] #165 closed

[2018-09-22 09:16] sammilucia commented on #429
Hi @istir... the FF screenshots look like directwrite rendering to me.

can anyone else confirm the workaround is no longer working in FF 62+?

[2018-09-22 09:27] sammilucia commented on #171
Can anyone confirm whether this is working in the latest Win10 and the latest beta https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 ?

I'm having no problems with Win8.1 x64

[2018-09-22 09:32] sammilucia commented on #174
@Yoctillion @zhengbli @YellowOnion is this still an issue for you?

[2018-09-22 09:33] sammilucia commented on #179
@sahmb0edy is this issue still occurring for you?

[2018-09-22 09:35] sammilucia commented on #182
Registry injection is blocked by SecureBoot. Please see the notes on Secure Boot on the latest beta https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 (the workaround is to disable secureboot, which enables registry mode again - which I don't recommend)

Closing as this is not an issue with MacType.

[2018-09-22 09:35] #182 closed

[2018-09-22 09:38] sammilucia commented on #271
@Jamesits can you please try the latest beta https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 which has an updated EasyHook and let us know if the problem still occurs? Ty 😊

[2018-09-22 09:39] sammilucia commented on #289
From the number of upvotes on @JohnnyGoodNews comment I'm going to assume the workaround works, so closing issue... Please let us know if the problem continues 😊

[2018-09-22 09:39] #289 closed

[2018-09-22 09:41] sammilucia commented on #375
Closing issue

[2018-09-22 09:41] #375 closed

[2018-09-22 09:51] sammilucia commented on #403
As far as I know github never had text shadows ... this looks to be peculiar to waterfox.

Closing issue as I don't believe it's a bug in MacType, please let me know if I'm mistaken1 😜

[2018-09-22 09:51] #403 closed

[2018-09-22 09:56] sammilucia commented on #386
@xldistance 你可以安装新的测试版，如果这个问题仍然存在，请告诉我们吗 can you please install the new beta and let us know if this issue still occurs? https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

(auto-translated)

[2018-09-22 10:06] sammilucia commented on #420
Hey @kraml @alxtr1bal @dptr @rudolphos @IceMan81 EasyHook has been updated in the latest beta here, https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 - can you please let us know if the problem is fixed for you?

[2018-09-22 10:10] sammilucia commented on #381
Closed, as service mode is recommended for Windows 10 (see https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2)

[2018-09-22 10:10] #381 closed

[2018-09-22 10:13] sammilucia commented on #383
MacTray has been optimised in the new beta https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

Closing issue, but please let us know if this is still a problem 😊

[2018-09-22 10:13] #383 closed

[2018-09-22 10:58] Mahayu opened #437 "Beta(2)版默认不渲染Wechat和资源管理器"
系统是 Windows10 1803
Mactype Beta2,Service Mode.
配置文件未排除对应进程。
可以通过Macwiz启用，但是每次启动十分麻烦。这是为什么？

[2018-09-22 13:08] snowie2000 commented on #437
默认情况下不渲染服务。如果进程是被services.exe启动的，则不会被渲染。
您可以提供下process explorer的进程树截图吗？

[2018-09-23 00:21] jgsports opened #438 "mactype candy"
我在自己的windows 10 1803专业工作站版里使用了mactype的candy改版 (http://sky.candy.moe/tag/mactype/) ，配置文件是xhei 热替换，能完美渲染setting界面、chrome等比较难渲染的东西，作者能不能参考下。

[2018-09-23 01:57] Infinality commented on #366
I don't have a patch currently for 2.9.1, but I know some others out there have been keeping up on it.  I'll see if I can find one, otherwise I'll try to patch it myself, because I'd like to see the stem alignment code on Windows too.  :)

[2018-09-23 02:09] sammilucia commented on #438
谢谢@jgsports ...你知道作者吗？ 如果他们加入主项目这样每个人都可以受益，那将是理想的选择
(auto-translated)
Thanks @jgsports ... do you know the author? It would be ideal if he would join the main project so everyone can benefit

[2018-09-23 06:00] snowie2000 commented on #438
The candy version is a combination of MacType and MacType-patch. MacType has already implemented most of the DirectWrite hooks the patch does except the fontstitute feature which is planned in the next release.
Other DirectWrite features can be activated by setting a toggle: https://github.com/snowie2000/mactype/wiki/DirectWrite and settings: https://github.com/snowie2000/mactype/wiki/DirectWrite-

[2018-09-23 10:37] Mahayu commented on #437
明日有空的时候会附上信息:)

[2018-09-23 10:52] Mahayu commented on #437
![default](https://user-images.githubusercontent.com/22572355/45927188-c86b2c80-bf61-11e8-8319-2e54fba2c96e.png)

![default](https://user-images.githubusercontent.com/22572355/45927191-cef9a400-bf61-11e8-811b-1f93755e7b1d.png)

Wechat 复现失败..

[2018-09-23 13:51] Jamesits commented on #271
@sammilucia The new beta version caused more halts on UWP apps than any version before... I experienced Explorer/Start menu stopped responding, Explorer failed to initialize taskbar, and Edge rendering process failure after minutes enabling the new version. Tried rebooting but nothing changes. I wanted to debug some processes but VS2017 is affected too. Can you give me some guidance on how to at l

[2018-09-23 13:57] kraml commented on #420
Updated to https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 and reverted back normal(non-whitelist) mode, so far so good.

[2018-09-23 14:10] snowie2000 commented on #271
@Jamesits What loading mode are you using?
If you're using registry mode, try other modes instead as they offer an easier way to enable MacType for a single process so that you can do memory dump or things like that.

To create memory dumps for crashed applications, you can try methods mentioned in this thread:
https://stackoverflow.com/questions/30121822/how-to-generate-windows-memory-dump-when-a

[2018-09-23 14:12] snowie2000 commented on #271
Plus, please disable mactype-patch before going any further as it will bring more uncertainty to problems.

[2018-09-23 14:13] snowie2000 commented on #437
@Mahayu 资源管理器的父子关系图可以提供一下吗

[2018-09-23 14:46] Jamesits commented on #271
@snowie2000 I'm always using tray (standard) loading mode without Admin privileges. I haven't used mactype-patch.

Thanks for the hint on getting a dump, but I need a way to debug the system when most windows are not responding or just inoperable...

[2018-09-23 14:56] sammilucia commented on #271
@Jamesits thanks for baring with us thru this... Three questions just to eliminate some things:
1. Have you tried a clean install of MacType following the beta2 instructions (https://github.com/snowie2000/mactype/releases)?
2. Can you please try a plain ini like the attached
[No Hinting.zip](https://github.com/snowie2000/mactype/files/2408810/No.Hinting.zip)
3. Just for clarity, does everything st

[2018-09-23 15:10] snowie2000 commented on #271
@Jamesits Please try tray mode with admin priviledge as the tray mode w/o admin priviledge is not well tested.

[2018-09-23 15:11] sammilucia commented on #438
Gotcha. I thought it was a new build.

[2018-09-23 15:12] sammilucia commented on #438
Closing as question was addressed

[2018-09-23 15:12] #438 closed

[2018-09-23 15:14] snowie2000 commented on #271
One more hint.
To debug when everything is inoperable, just add vs2017 and taskmgr to unloaddll list so that you always have a change to call out the task manager and start vs from there.

[2018-09-23 15:15] Jamesits commented on #271
@sammilucia

1. This is a clean install. The OS is recently reinstalled (I formatted the disk because the filesystem failed, so there should be no problems from Windows upgrade process), and this is the first time this OS had MacType installed.

2. Tried the no hinting config:

* MacType tray immediately stopped responding
* Explorer restarts every few seconds
* Edge reports the page renderer proc

[2018-09-23 15:18] snowie2000 commented on #271
If you eventually failed to debug it yourself, please check your eventlog and see if there is anything worthy there.

[2018-09-23 15:29] snowie2000 commented on #271
Looks like the crash report is not anything useful at all. A memory dump is necessary then.

Also, according to the screenshot you provided in your first post, mactype is faulty before it loads its substantial part into the telegram.

[2018-09-23 16:08] sammilucia commented on #271
What's so strange is others don't seem to be having this issue (?), something may be different or unique on your Windows, so thanks for working thru this @Jamesits it's really helpful

[2018-09-24 01:06] Mahayu commented on #437
使用 wmic 查找了 explorer.exe 的父程序PID……不言而喻
![default](https://user-images.githubusercontent.com/22572355/45935012-07889480-bfd9-11e8-890f-556afac8d6f7.png)
![default](https://user-images.githubusercontent.com/22572355/45935013-08212b00-bfd9-11e8-8101-095d273c807f.png)
![default](https://user-images.githubusercontent.com/22572355/45935016-0eafa280-bfd9-11e8-9551-dad00dcb9572.png)

所以这个不会修？那我还是手动启动好了。

[2018-09-24 01:08] snowie2000 commented on #437
mactray有个白名单，我暂时关闭了
我会把他重新打开来解决这个问题

[2018-09-24 01:42] Jamesits commented on #271
@sammilucia I think maybe because I have one 100% and one 200% screen connected? I'll fire up a VM and see if I can reproduce this problem.

(Have to go to a business trip, expect my result after a week :)

[2018-09-24 02:30] sammilucia commented on #437
@Mahayu did you mean to close this? @snowie2000

[2018-09-24 02:36] snowie2000 commented on #437
@sammilucia I believe he did. Because I said I will solve it by reactivating the internal whitelist in the tray app.

[2018-09-24 04:56] IceMan81 commented on #366
@Infinality if you could provide a patch for 2.9.1, that would be awesome! Yes, if infinality stem alignment would work on Windows like on Linux, it would be fantastic. Look forward to it.

[2018-09-24 19:10] Infinality commented on #366
There was a tweak I needed to make in order to get it to patch freetype.  Attached.

[0001-infinality-2.9.1-2018.06.21.fixed.patch.txt](https://github.com/snowie2000/mactype/files/2412513/0001-infinality-2.9.1-2018.06.21.fixed.patch.txt)

[2018-09-25 00:55] snowie2000 commented on #366
Ok, I'll give it a try then.

[2018-09-25 00:56] snowie2000 commented on #271
@Jamesits You can try to only overwrite easyhook of the old install with the patched one to see if the crash persists.

Have a good day on your trip!

[2018-09-25 01:00] snowie2000 commented on #366
@Infinality So, there are apparently two patches. Which one should I use? Or should I use them both?

[2018-09-25 05:16] Mahayu commented on #429
I had somewhat kerning problem using Mactype in FF62..and then I returned to the directwrite.

[2018-09-25 06:42] sahmb0edy commented on #179
The issue doesn't occur anymore as of the v1.2017.628.0 version and hasn't appeared in the latest v1.2018.09.17-beta2 release.

[2018-09-25 07:18] snowie2000 commented on #179
Thank you for your feedback.

[2018-09-25 07:18] #179 closed

[2018-09-25 10:33] sammilucia commented on #429
@Mahayu is it possible to post a screenshot of the kerning problems?

@snowie2000 @Mahayu I've updated the release notes of MacType to include instructions for enabling MacType/GDI in Chrome (CentBrowser) and Firefox https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-09-25 10:35] sammilucia commented on #360
Sorry for the delay. Please see https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 for how to use MacType with CentBrowser.

Chrome changes the DirectWrite pipeline so (as yet) does not work with MacType.

[2018-09-25 10:35] #360 closed

[2018-09-25 10:38] ssolidus commented on #360
It should be noted that this is an upstream change to Chromium, which affects all Chromium-based apps i.e. Electron apps

[2018-09-25 10:48] Mahayu commented on #429
I will post screenshots soon.

[2018-09-25 10:57] sammilucia commented on #360
Thanks @ssolidus yes I've noted that in the release notes also 😊

[2018-09-25 10:58] sammilucia commented on #429
@Mahayu yes please that would be great, thank you 😊

[2018-09-25 11:06] Mahayu commented on #429
https://github.com/Mahayu/MMConfig/blob/master/MMConfig_Clear.ini
Here is my config file. The shots should be upload tomorrow or later today. (UTC +8)

[2018-09-25 13:29] Mahayu commented on #429
![default](https://user-images.githubusercontent.com/22572355/46017172-736a1a80-c109-11e8-8be4-a4bfd4fb8a4c.png)
You may see that the word "Windows" and "Works" are weird.
![default](https://user-images.githubusercontent.com/22572355/46017275-af04e480-c109-11e8-9f49-6c81e018821a.png)
the word "malware"

Hmm.. are they "features"?

[2018-09-25 13:36] Mahayu commented on #429
I got the point. Setting the page in 110% or higher magnification will cause mysterious kerning problems.

Setting to the 100% is OK for now.

[2018-09-25 13:46] sammilucia commented on #429
Okay interesting. I can see what you mean but I can't reproduce with my ini settings (at 100%, 110%, 120%)
![image](https://user-images.githubusercontent.com/3295286/46018291-af58ac00-c118-11e8-9f81-e4958f6ff0ec.png)

My ini file is attached if you want to try? I'm sure @snowie2000 will know! (no pressure 😜)
[No Hinting.zip](https://github.com/snowie2000/mactype/files/2415464/No.Hinting.zip)

[2018-09-25 14:00] snowie2000 commented on #429
This is actually font dependent.
@Mahayu You should rather compare the screenshot with and without MacType. And to my understanding, they should behave more or less the same. But this problem should go away if you enable DirectWrite.
This is because Windows GDI does not support sub-pixel positioning. (not sub-pixel rendering, which is partially supported in W7 and got full support in W10). The lef

[2018-09-25 14:05] snowie2000 commented on #429
Actually, FreeType supports sub-pixel positioning, and I can put the letter from any sub-pixel of a whole pixel by calculating the correct sub-pixel arranging order (it can be complex, but it's possible). But even we did that, there is still another problem:
You can only select text from the beginning of a pixel, which means once you select a letter that's positioned in a sub-pixel position, all t

[2018-09-25 14:08] snowie2000 commented on #429
What's interesting is that the hinting is really font dependent and it is written by font manufacturer by hand. It's not perfect. Sometimes, it fixes the problem, in other cases, it makes things worse.

[2018-09-25 14:12] sammilucia commented on #429
@snowie2000 so why doesn't it do it on my ini? I've also got HintingMode=1 and EnableKerning=1

[2018-09-25 14:15] snowie2000 commented on #429
HintingMode=1 means disabling hinting.
EnableKerning is somewhat mystery... I've never touched any code about it. Someone says it's buggy.

[2018-09-25 14:52] snowie2000 commented on #429
I'll test Mahayu's profile tomorrow to see if it makes any difference in my environment.
And about the kerning setting, if you enable that setting, MacType will use the information returned by GetKerningPairs or FT_GET_KERNING. Most fonts, they just simply don't support kerning.
So this setting may work, but I never had a chance to test it in real life.

[2018-09-25 14:56] istir commented on #429
Not sure why is that but when I had it set to basically anything other than direct2d1.1,cairo,skia it didn't work (like in my top post), but after setting it up like in updated readme it works great!

I created a gif showing different modes, feel free to use it somewhere!
https://i.imgur.com/6K1DTWN.gifv

[2018-09-25 15:13] sammilucia commented on #429
@istir hmm I don't know! yay I'm glad it's working for you now 😊

[2018-09-26 06:05] snowie2000 commented on #429
![qq 20180926140207](https://user-images.githubusercontent.com/11767189/46060204-ebc9ed80-c194-11e8-8bef-d02e7a36c1f5.png)
@Mahayu This is my result. (My chrome is not at the zoom ratio of 110%, so you are definitely using a monitor with HiDPI)
As you can see, my texts didn't have the same problem because apparently, we are using different fonts for alphabets.

[2018-09-26 06:09] IceMan81 commented on #429
@snowie2000 would you mind sharing your ini file?

[2018-09-26 06:10] IceMan81 commented on #366
@snowie2000 does the patch work?

[2018-09-26 06:36] snowie2000 commented on #429
I was using the config provided here: https://github.com/snowie2000/mactype/issues/429#issuecomment-424300900

[2018-09-26 06:39] IceMan81 commented on #429
In that case, would you mind sharing the ini file you use on your Windows?

[2018-09-26 06:41] snowie2000 commented on #429
It's not about the profile I'm using, it's about the font you're using in your browser.

[2018-09-26 07:18] snowie2000 commented on #366
@IceMan81 patch applied, but the project can't be built with MSVC anymore.
There are still a lot of work to do.

[2018-09-26 13:11] snowie2000 commented on #437
您可以提供一下您的配置吗？我这边无法重现问题，白名单我检查了代码后确定本来就是开启的

[2018-09-26 15:27] Infinality commented on #376
I too am curious on how to get MacType to work in Thunderbird.  I've tried the same settings as Firefox, and although it looks different, it doesn't appear to be using MacType like it does with Firefox.

[2018-09-26 15:51] IceMan81 commented on #366
@snowie2000 that's painful. Did the freetype Windows build change?

[2018-09-27 09:33] Mahayu commented on #437
[MMConfig_clear.zip](https://github.com/snowie2000/mactype/files/2423443/MMConfig_clear.zip)

[2018-09-28 05:46] snowie2000 commented on #366
It introduced some headers that msvc doesn't include out-of-box

[2018-09-28 19:09] justablob commented on #426
Can't apply MacType to VS Code Insiders 1.28.0 and Discord (both use Electron). Im starting to think this is impossible to do, any updates on compatibility with Chrome/Chromium? Any secret flags?

[2018-09-29 15:04] mufunyo commented on #436
As an end user, I have to say NSIS seems to be by far the fastest / cleanest / most hassle free installer I have ever used. As a programmer, the last (and only) installer software I've used was WISE, which is not free, so irrelevant in this discussion.

[2018-09-29 17:02] justablob commented on #427
In Firefox, on some websites, MacType flickers on and then off until a CSS animation occurrs, where it turns on for half a second then its off again. I'm running Firefox 63.0b10 on Windows 10 build 17133 on a laptop with an i7-7700HQ and a GTX 1050.

[2018-09-30 03:42] sammilucia opened #439 "In Firefox, on some websites, MacType flickers on and then off until a CSS animation occurrs, where it turns on for half a second then its off again. I'm running Firefox 63.0b10 on Windows 10 build 17133 on a laptop with an i7-7700HQ and a GTX 1050."
Initial:
![image](https://user-images.githubusercontent.com/40399431/46248591-8cc9da00-c41b-11e8-8e62-9c30253f2353.png)
A second later:
![image](https://user-images.githubusercontent.com/40399431/46248597-9d7a5000-c41b-11e8-964f-bb775063c557.png)

Really annoying, looking for a fix but can't find one.

_Originally posted by @justablob in https://github.com/snowie2000/mactype/issues/427#issuecommen

[2018-09-30 03:47] sammilucia commented on #439
@justablob thanks for reporting was this happening in Firefox 62 for you?

[2018-09-30 03:49] sammilucia opened #440 "Touhou series subtitles covered by black lanes."
_Originally posted by @Mahayu in https://github.com/snowie2000/mactype/issues/427#issuecomment-417579254_

[2018-09-30 03:55] sammilucia commented on #440
Possibly an alpha blending issue in MacType? Or in Touhou

[2018-09-30 04:03] sammilucia opened #441 "MacType profile not applying on reboot"
In years of using MacType I haven't seen this issue, not sure where to start looking...

### To reproduce:
1. Use Windows 8.1 x64
1. Use MacType in Service Mode as usual
1. Restart Windows
1. Log in
1. MacType is not applied to any software
1. Run MacWiz.exe
1. Re-select Service Mode, and the same profile
1. Close and re-open software
1. MacType is now applied

### Expected outcome:
- Mactype is a

[2018-09-30 04:07] sammilucia commented on #441
mactype.ini
![image](https://user-images.githubusercontent.com/3295286/46253262-fac2df80-c4b5-11e8-828b-f6cef04303ee.png)

[2018-09-30 04:27] snowie2000 commented on #437
We're waiting for another user's feedback to release the next version.

[2018-09-30 04:29] snowie2000 commented on #426
You can enable DirectWrite basic support through directive, but it's still very primitive.

[2018-09-30 04:32] snowie2000 commented on #441
There is a deadlock bug in the new tray app and it is much more likely to trigger in service mode.
I'll upload a fixed file later today.

[2018-09-30 05:04] sammilucia commented on #436
@mufunyo I agree on NSIS.

@snowie2000 NSIS supports all the features, except it's scripted. I'm happy to convert the Advanced Installer aip to an NSIS script, it should be easy to maintain from there looking at the scripting language it's pretty readable.

Looks like I can either build a new installer for beta2 for release basically today using Advanced Installer ... or probably an NSIS installer

[2018-09-30 05:12] snowie2000 commented on #436
You have plenty of time to try, and I agree that NSIS is a good idea to work on.
Mactype is not ready for a public release yet since there are still some major problems to fix like #437 and #440, #439, and most seriously #271

[2018-09-30 12:52] justablob commented on #439
Yup, it happens on 62.0.2 aswell.

[2018-09-30 12:59] justablob commented on #439
Also, another Firefox bug, when setting `gfx.direct2d.disabled` to `true`, skewed text isn't anti-aliased:
![image](https://user-images.githubusercontent.com/40399431/46257828-f51ec700-c4c0-11e8-8fd3-0195e13c51a9.png)
vs.
![image](https://user-images.githubusercontent.com/40399431/46257832-ff40c580-c4c0-11e8-8581-87e474423ef7.png)

and with `gfx.direct2d.disabled == false`, text is always anti-ali

[2018-09-30 13:09] snowie2000 commented on #439
skewed text is not supported with MacType. However directwrite support everything, it's just not good enough.

[2018-09-30 14:45] snowie2000 commented on #441
[MacTray.zip](https://github.com/snowie2000/mactype/files/2431656/MacTray.zip)
Okay, here is the promised file. Hope it can fix the problem.

[2018-10-01 02:10] bruceCzK opened #442 "与 Forza Horizon 4 冲突"
即使排除 ForzaHorizon4.exe 仍然会导致启动闪退。

配置文件 https://pastebin.com/80uxQT7E

[2018-10-01 02:56] sammilucia commented on #441
Unfortunately it's still occurring for me in service mode

Straight after logging in:
![2018-10-01 12_16_37-pushbullet - your devices working better together - cent browser](https://user-images.githubusercontent.com/3295286/46267612-104b0e80-c575-11e8-8c18-49d647efa0cf.jpg)

After re-running MacWiz.exe next > next >finish (no settings changed
![image](https://user-images.githubusercontent.com/3295

[2018-10-01 03:04] sammilucia opened #443 "To-do tasks for the new installer"
When the new installer (currently in testing) is run for the first time it should:
1. Show a welcome message
1. Clean up conflicting files such as EasyHK*.dll from various locations
1. Initiate cleanup of the old installer to completely remove remnants of the old installation AND the old installer (files and registry keys)
1. Leave custom profiles intact
1. Show a welcome message
1. (Maybe) show a

[2018-10-01 03:08] sammilucia commented on #436
After further investigation I was actually surprised to prefer Inno Setup. NSIS is powerful however some elements of the scripting language are unclear without knowing the language schema, especially with multi-language installs. Whereas Inno Setup I already have a rough working installer and so far it seems to support the same features.

I may change my mind if I hit a blocking issue with Inno Se

[2018-10-01 03:08] #436 closed

[2018-10-01 03:17] sammilucia commented on #243
Hi @cricrazy did you ever get this sorted?

[2018-10-01 03:34] sammilucia commented on #227
- This is a known issue, it's very difficult to work around anti-virus software because their methods are always ever-evolving.
- Added to known issues in Readme (thanks @IgnacioMD 😊)

[2018-10-01 03:34] #227 closed

[2018-10-01 03:47] sammilucia commented on #237
Hi @AbraxasVi, are you still having this problem?

[2018-10-01 04:19] sammilucia opened #444 "Cannot translate Tuner preview window title caption"
I think this is supposed to be [TForm6] Caption but I could be wrong
![image](https://user-images.githubusercontent.com/3295286/46269494-a0db1c00-c580-11e8-95ed-a5084fb474fe.png)

If not I can't see where to change the window caption.
![image](https://user-images.githubusercontent.com/3295286/46269457-76895e80-c580-11e8-9454-696e63934bd5.png)

Low-priority, assigned to 'next version'

[2018-10-01 04:29] sammilucia commented on #236
@snowie2000 want me to leave this open for now or wont-fix?

[2018-10-01 04:31] sammilucia commented on #204
@11igors11 are you still having this issue?

[2018-10-01 04:32] sammilucia commented on #202
Obsolete version, closing

[2018-10-01 04:32] #202 closed

[2018-10-01 04:33] sammilucia commented on #198
Duplicate #441 , closing

[2018-10-01 04:33] #198 closed

[2018-10-01 04:38] sammilucia commented on #195
Hi @kraml - sorry for the extreme delay! Are you still having this problem in Vue.js?

Possibly related: I've also seen this behaviour in googledrivesync.exe and had to exclude it.

[2018-10-01 04:42] sammilucia commented on #183
Closing issue as @Garfield550 's answer is correct. Also note that some software just doesn't support unicode.

@kfstorm please let me know if the above fix didn't work for you.

[2018-10-01 04:42] #183 closed

[2018-10-01 04:45] Azurak opened #446 "explorer.exe crashes when opening Windows fonts folder"
Environment : Windows 10 x64 Home Edition
MacType Version : 2018 0917b2
When I open the font folder in C:/Windows/ with MacType on, the explorer stop and soon restart. It becomes OK after I switch off the hint.

[2018-10-01 04:46] sammilucia commented on #174
Closing as unresponded.

To wrap this issue up - set DirectWrite=0 in your ini file to stop MacType touching DW fonts. You can also set DirectWrite=0 and install MacType-Patch to attempt to tune DW further.

MacType doesn't modify DW font rendering if DW=0.

[2018-10-01 04:46] #174 closed

[2018-10-01 04:47] sammilucia commented on #171
Closing as unresponded.

[2018-10-01 04:47] #171 closed

[2018-10-01 04:48] sammilucia commented on #161
@snowie2000 want me to leave open or wontfix?

[2018-10-01 04:50] sammilucia commented on #282
@tcbbd hey, is this still an issue with the latest MacType?

@snowie2000 you've mentioned no further changes to clipboxfix ... want me to close or leave open?

[2018-10-01 04:51] sammilucia commented on #250
Closed as unresponded.

[2018-10-01 04:51] #250 closed

[2018-10-01 04:53] sammilucia commented on #374
@ssray23 the old Tray Mode slowed down MacType ... have you tried running in Service or Registry Mode? There should be no noticeable performance drop in those modes.

[2018-10-01 04:57] sammilucia commented on #374
Confirmed this ligature clipping is occurring on my Win 8.1 x64 also.

[2018-10-01 04:59] sammilucia commented on #378
@snowie2000 the new parser supports unicode?

[2018-10-01 05:02] sammilucia commented on #372
Hmm, this seems like a huge thing to implement, especially users might want to change LCD to greyscale rendering when the screen is rotated 90 degrees...

[2018-10-01 05:02] sammilucia commented on #369
Closed as unresponded.

[2018-10-01 05:02] #369 closed

[2018-10-01 05:07] sammilucia commented on #367
Hi @dubbadubbadubbacha , can you please confirm if this issue occurs in Service or Registry Mode?

[2018-10-01 05:12] sammilucia commented on #365
Since Office 2013, Office uses its own font rendering engine which is neither ClearType/GDI nor DirectWrite. Goodness knows why!!

Disabling Hardware Acceleration in Office 2013 still doesn't use DirectWrite, so MacType can't touch it. I believe Office 2016 moved to DirectWrite, so MacType can do some tuning of DW settings.

I'll update the Readme known issues.

Closing as wontfix for Office 2013.

[2018-10-01 05:12] #365 closed

[2018-10-01 05:28] sammilucia commented on #358
Hmm, should regional settings apply to ini parsing?

[2018-10-01 05:30] sammilucia commented on #357
Could not reproduce.

@Idearum are you still having this issue? If so could you please let us know your MacType load mode and post your INI here? (you can zip it to attach it to this issue)

[2018-10-01 05:36] sammilucia commented on #353
Duplicate of #361, @RitzyBusiness please see my comments there if you're still having the conflict with BitDefender 😊.

[2018-10-01 05:36] #353 closed

[2018-10-01 05:37] sammilucia commented on #351
Closing as old issue (which has kinda been continued in #366)

[2018-10-01 05:37] #351 closed

[2018-10-01 05:38] sammilucia commented on #346
Hi @goldmonkey163com , did you ever manage to resolve this?

[2018-10-01 05:40] sammilucia commented on #341
Closing as this issue is resolved in the latest build. Also please use Service Mode for Windows 10 as per the latest release notes https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-01 05:40] #341 closed

[2018-10-01 05:44] sammilucia commented on #340
Opera is now Chromium based, unfortunately it's up to them whether they still support GDI from Chromium.

@RitzyBusiness @JonnyRedHed Please see the latest release notes, I've been using CentBrowser for a few years with GDI rendering and it works great 😊 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

Closing as duplicate #427

[2018-10-01 05:44] #340 closed

[2018-10-01 05:47] sammilucia commented on #338
@vrships @czy1996 The ini parser in the newest mactype has been rewritten. Could you please try:
- removing all the comments from the ini file and see if this helps
- checking your regional settings are set to use '.' (period) decimals and not ',' (comma) decimals

This is a duplicate of another issue but I can't find it right now!

@snowie2000

[2018-10-01 05:52] sammilucia commented on #419
Closing as duplicate of #420

@TianLi-520 @guikarist please see the latest release notes for how to fix this. Let us know if you still have problems 😊 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-01 05:52] #419 closed

[2018-10-01 05:53] sammilucia commented on #396
Won't fix for now. Please donate if you want MacType digitally signed! 😊

[2018-10-01 05:53] #396 closed

[2018-10-01 05:54] sammilucia commented on #392
Closing as the installer is being replaced see #443

[2018-10-01 05:54] #392 closed

[2018-10-01 05:55] sammilucia commented on #420
Thanks @kraml ! 😊 closing issue as resolved.

[2018-10-01 05:58] sammilucia commented on #414
Hi @AhaoAile , can you please confirm what browser you're using that the fonts aren't being replaced in?

[2018-10-01 06:01] sammilucia commented on #410
Hi @1711700938 , @vimcaw ... What anti-virus/antimalware software are you using?

If you're using one, please see the Known Issues in the readme and let us know if this helps https://github.com/snowie2000/mactype/blob/master/README.md

"If you're running 64 bit Windows, antimalware/antivirus software may conflict with MacType, because it sees MacType trying to modify running software. One possible

[2018-10-01 06:05] sammilucia commented on #429
I'm about to close this thread 'cause it's not going anywhere 😜 ... Is there anything else left to be done?

[2018-10-01 06:07] sammilucia commented on #446
Thanks @Azurak ... Can you please let me know
- Are you running any antivirus software? If so what is it?
- What custom fonts do you have installed?
- Did this happen on MacType v1.2017.628.0

[2018-10-01 06:15] alxtr1bal commented on #420
Thanks
Noticed some problems on the latest skip ahead (18247) : context menu with tray icon won’t open (beta 2 test)

[2018-10-01 06:16] sammilucia commented on #420
thanks @alxtr1bal  ... do they open without MacType?

What mode are you running MacType in?

[2018-10-01 06:37] alxtr1bal commented on #420
It’s just with the Mac type tray icon
No big deal though

[2018-10-01 06:43] Azurak commented on #446
- I'm using Huorong Antivirus Software
- Fira Code and sarasa font are installed, but that's not the problem, I think
- Yes, the same...
In addition, My cursor lags while opening the folder.

[2018-10-01 11:46] dubbadubbadubbacha commented on #367
Both

[2018-10-01 13:30] mufunyo commented on #401
Updating to the latest beta of mainline MacType coming from MacTypePatch has DirectWrite working in Chrome but UWP/Settings don't seem to be affected by MacType at all any more. How much of MacTypePatch has been merged into mainline MacType at this point?

[2018-10-01 14:30] extratype commented on #401
I think MacTypePatch has already been merged into MacType 2017.628.0. But, you know, `FontSubstitutes` is disabled ([#310](https://github.com/snowie2000/mactype/issues/310)) and some are linked to other parameters in MacType. You would have to modify source and build your own version to take control all of them, as I did in [my forked repo](https://github.com/extratype/mactype).

[2018-10-01 14:42] Endilus commented on #374
I never found a solution for this issue. I no longer have Windows so I don't use Mactype anymore.

[2018-10-01 15:14] vimcaw commented on #410
@sammilucia Kaspersky Internet Security 2019

[2018-10-01 15:35] Idearum commented on #357
Sorry, but I haven't been using MacTray in over a year now, and the OS and my system have been frequently reinstalled since then. I somewhat doubt I'll be able to reproduce it now either.

[2018-10-01 15:35] #357 closed

[2018-10-01 16:20] vimcaw commented on #410
It looks likes fixed on v1.2018.09.17-beta2

[2018-10-01 21:02] JonnyRedHed commented on #340
So thats that then.  I'll continue to ask Opera devs.

[2018-10-01 23:09] sammilucia commented on #374
okay thanks @Endilus , leaving this open as a known issue.

[2018-10-01 23:12] sammilucia commented on #410
Yay! thanks for letting me know @vimcaw

closing issue. please let us know if you have any problems 😊

[2018-10-01 23:12] #410 closed

[2018-10-01 23:14] sammilucia commented on #357
okay thank you @Idearum , please let us know if we can help any further.

[2018-10-01 23:50] snowie2000 commented on #161
I'll fix it.
Plus, I'll be away for a couple of days.

[2018-10-02 01:06] sammilucia opened #447 "MacType tray menu won't open on WIn 10 skip ahead 18247"
Noticed some problems on the latest skip ahead (18247) MacType tray menu won’t open (beta 2 test)

_Originally posted by @alxtr1bal in https://github.com/snowie2000/mactype/issues/420#issuecomment-425799962_

[2018-10-02 01:07] sammilucia commented on #446
Thanks @Azurak - does Fonts still crash explorer.exe with AV completely disabled?

[2018-10-02 22:21] drxt opened #448 "Virus threat on Mactype64.dll"
Nothing more to say, Defender just picked this up. I hope this is a false positive.

https://i.imgur.com/6poHv9G.png

Is this related to the issue HookChildProcesses=0 workaround is supposed to fix?

[2018-10-03 00:48] CHN-STUDENT commented on #448
![image](https://user-images.githubusercontent.com/21209416/46384482-c5ea9e80-c6e8-11e8-92dc-8e786ca940c5.png)
Yes,i meet this issue too.My system version is  Win 10 17134(1803),hope you can fix it.

[2018-10-03 01:30] CHN-STUDENT commented on #448
@sammilucia I downloaded it from the github release page.The the window defender told me it has virus.
![image](https://user-images.githubusercontent.com/21209416/46385460-da319a00-c6ee-11e8-9613-6265b6bad99c.png)

[2018-10-03 02:00] sammilucia commented on #448
Thank you for confirming.

Yes, Microsoft is reporting this as a false-positive. I can confirm files here on github.com/mactype are safe.

@drxt and @CHN-STUDENT, could you please go to https://www.microsoft.com/en-us/wdsi/filesubmission and submit this file for further analysis, to get Microsoft to de-list it.

Unfortunately we don't have direct control over what antimalware companies report as m

[2018-10-03 02:10] CHN-STUDENT commented on #448
Yes,i submitted the false positive to Microsoft,Hope they can recheck it again.Thank you!
![image](https://user-images.githubusercontent.com/21209416/46386515-6f835d00-c6f4-11e8-80a0-c8f851236614.png)

[2018-10-03 02:13] sammilucia commented on #448
Thank you so much for your help @CHN-STUDENT !

@snowie2000 I've submitted this to MS also as a software dev.

[2018-10-03 03:08] drxt commented on #448
Submitted sample to Microsoft, thanks for the heads up.

[2018-10-03 03:11] sammilucia commented on #448
Thanks so much for your help @drxt 😊 it all helps 😊

[2018-10-03 03:52] sammilucia commented on #448
Hi again all. Just confirming that Microsoft has removed the detection.

To force an update of your definitions:

1. Open command prompt as administrator and change directory to c:\Program Files\Windows Defender
2. Run `MpCmdRun.exe -removedefinitions -dynamicsignatures`

The latest definition is available for download here: https://www.microsoft.com/en-us/wdsi/definitions

Thanks for your patienc

[2018-10-03 03:52] #448 closed

[2018-10-03 11:02] AhaoAile commented on #414
I solve the problem , I use "Advanced Font Settings" to replaced my browser's fonts.
Everything looks good

[2018-10-03 15:27] justablob commented on #439
Are there plans to support skewed text.

[2018-10-04 01:09] sammilucia commented on #439
It may or may not be related... I can repro the flashing behaviour in CentBrowser when MacType is unloaded. Perhaps something is interfering with the MacType process.

To repro:
1. Open Cent, browse any websites
2. Stop MacType service
3. Start MacType service
4. Go back to Cent (without restarting it)
5. Reload the pages, or browse pages
6. Fonts flash back and forth as described

[2018-10-04 17:09] Skyyblaze commented on #442
I don't understand Chinese but if you try to get Forza Horizon 4 to run with MacType you have to use the newest MacType 2018 Beta 2 and add the game to you MacType.ini like this:

`[UnloadDll]
VBoxSvc.exe
VirtualBox.exe
ForzaHorizon4.exe
`

[2018-10-05 00:58] bruceCzK commented on #442
@Skyyblaze Thanks, it works.
By the way, I'm already running the newest version 2018.09.17-beta2.
I only added `ForzaHorizon4.exe` to `ini/default.ini` previously, so I guess I have to add the same config to `MacType.ini` as well.

[2018-10-05 00:58] #442 closed

[2018-10-05 00:58] garoto commented on #374
This reply won't be very helpful, but I (vaguely) recall snowie2000 mentioning this has to do with how GDI draw char boxes. If fixable, it probably must be super complicated to circumvent in a few lines of code.

[2018-10-05 02:46] Azurak commented on #446
Thanks for your reply.
Yes, the AV was uninstalled but it still crashes

[2018-10-05 04:12] sammilucia commented on #446
Hmm, thanks @Azurak, I'd like to see what snowie says before we go much further, I believe you have a problem font in the Fonts folder however finding it is a pita, so before I ask you to do that... Wdyt @snowie2000 ?

[2018-10-05 04:13] sammilucia commented on #374
Thanks @garoto yes you're right it is to do with the box each character is 'drawn in', I believe it is complicated, let's see what @snowie2000 says when he gets back.

[2018-10-05 11:27] kraml commented on #195
I don't use Zeal any more, but yes I also saw it on googledrivesync.exe.

[2018-10-05 13:37] sammilucia commented on #195
thanks @kraml ... i'm going to leave this one open for now for further investigation.

[2018-10-06 07:12] sammilucia commented on #439
Thanks so much for confirming @justablob ! We'll look at this once snowie's back 😊

[2018-10-07 13:10] EPuigdemont commented on #278
I had been dealing with crashes in Destiny 2 for the longest time, and Forza Motorsport 7 would suffer from both stuttery and laggy menus and crashes every now and then, I finally managed to narrow it down to MacType being the culprit, the only solution is to not have MacType running (no need to uninstall for me) and then the games become smooth and stable once again. Very annoying and I don't kno

[2018-10-07 13:31] snowie2000 commented on #278
@EPuigdemont I guess those games used some GDI APIs to get the text outline or something and then do some post effects on it which can be incompatible with MacType.

You'd better exclude them from MacType by adding them to unloaddll list.

[2018-10-07 13:33] snowie2000 commented on #446
@Azurak Could you please list all the third party fonts you installed on your system so that maybe I'll at least have a chance to reproduce the problem myself.

[2018-10-07 15:11] Azurak commented on #446
@snowie2000 Okay.
- HP Simplifed
- Fira Code
- 更纱黑体 Series
- 经典综艺体简
- 经典中园简
- 华文中宋(stsong)
- 方正综艺简体
- 方正准圆简体
- 方正宋黑简体
- 方正黑体简体
- 方正大黑简体
- 方正大标宋简体
- 方正粗圆简体
- 方正粗倩简体
- 方正隶书简体
- 方正小标宋简体
That's all...(Sorry for the Chinese, I don't know the English name.)

[2018-10-08 01:37] snowie2000 commented on #444
I may have forgotten to add this window to the language control list.
Planned.

[2018-10-08 01:39] snowie2000 commented on #441
@sammilucia Okay, so it only happens in service mode?
Could you please do a memory dump of the mactray.exe when the rendering stopped so that I can figure out what's going on inside it?

[2018-10-08 01:42] snowie2000 commented on #437
Could be the same problem with #441.
Reopen it if you're sure they are different.

[2018-10-08 01:42] #437 closed

[2018-10-08 01:45] snowie2000 commented on #440
The Touhou series has a lot of games, which game has the problem? Or all of them have it?

[2018-10-08 01:52] snowie2000 commented on #378
@sammilucia It should be. I tested it using Unicode LE/UTF-8/UTF-8 with BOM/ANSI and they all worked.
However, I'm not sure if all special characters can be parsed correctly. More samples are needed for that.

[2018-10-08 01:52] snowie2000 commented on #378
@jorismq 如果你能提供一下不能正确解析的ini配置的供我测试的话，应该可以解决掉这个问题。

[2018-10-08 01:57] snowie2000 commented on #372
@sammilucia Frankly speaking, I don't think it's something that easy to accomplish for the next version.
Screen rotation is actually very easy to detect for normal applications, but MacType is very different that there is no message loop or windows controlled with it. So no notification can be received from its side. And I can't do polling every few seconds either, that could be a waste of CPU tim

[2018-10-08 02:01] snowie2000 commented on #420
It's a deadlock bug with MacTray.exe and has been solved. But there are still some bugs left to the tray app besides the deadlock problem.

[2018-10-08 02:05] snowie2000 commented on #358
@sammilucia It will. The standard `strtod` function will convert string to double based on locale.
http://www.cplusplus.com/reference/cstdlib/strtod/

I have fixed the problem by using a standalone version of strtod in iniparser: https://github.com/snowie2000/IniParser/commit/6bd26818acf80b7912b291e40d63177e4f6ee6d3

[2018-10-08 02:28] sammilucia commented on #444
Thx. Good news is I didn't find any others

[2018-10-08 02:32] sammilucia commented on #441
ServiceMode - I'm not sure, I'll disable secure boot and find out
Memdump - sure thing

[2018-10-08 02:35] snowie2000 commented on #447
Should be the same problem with #441. A deadlock related problem with the tray app.
Closing.

[2018-10-08 02:35] #447 closed

[2018-10-08 02:38] snowie2000 commented on #446
@Azurak Huh, that's quite a lot of fonts to try. :open_mouth:
Could you please do me a favor uploading those to somewhere private and share the link to me? I'll keep them private.
Thanks.

[2018-10-08 02:38] sammilucia commented on #372
@snowie2000 yeah I know.
You can assign an event handler to _win32_WM_DISPLAYCHANGE then analyse width & height when the event is triggered? ... but then how do you update the open windows?

[2018-10-08 02:42] snowie2000 commented on #372
@sammilucia To receive a WM_DISPLAYCHANGE message, you need a window and a message loop, and MacType has none.
Updating existing windows is not very hard, I can enumerate all the windows belonging to the process, and ask for a repaint.

[2018-10-08 02:50] sammilucia commented on #372
@snowie2000 ah yes ... make a top level window that never gets displayed? example code http://www.cplusplus.com/forum/windows/23180/

[2018-10-08 03:09] snowie2000 commented on #439
@sammilucia Could you upload a gif refecting of the issue? I really can't reproduce it on my browser.

[2018-10-08 13:40] goldmonkey163com commented on #346
@sammilucia No. I checked environment variable as he said, but I cannot find the reason.

[2018-10-09 00:03] sammilucia commented on #346
Okay thanks @goldmonkey163com ... That string ("Environment error, please check your system") is hard-coded into MacWiz.exe's own error handlers...

I'll leave this here for snowie to have a look or @snowie2000 grant me access to MacWiz source and I can debug.

[2018-10-09 02:27] snowie2000 commented on #346
@sammilucia It's a string hardcoded into the MacTuner instead of the macwiz.
Here is the basic principle:
To use the tuner to tweak/create a profile, the Tuner must be accessible by the MacType, however, for some reason, users may choose to use include-only mode, or they may have mistakenly written the mactunner.exe into the unloaddll/exclude list so that the tuner can no longer get rendered by Ma

[2018-10-09 02:45] sammilucia commented on #346
Yes sorry meant MacTuner... thanks for the explanation.. I wonder if it's a permissions problem then.

[2018-10-09 09:16] sammilucia commented on #441
@snowie2000 yes it still does it in registry mode... No change. Most bizarre!

[2018-10-09 13:06] snowie2000 commented on #441
Okay, that's cool.
Then there is, in theory, nothing to do with the mactray app.  It should be the problem with mactype itself.
Here is one thing you can try:
Download the process explorer from Microsoft.
Open it and select explorer.exe or any other application that you expected it to be rendered and search through its loaded dll list for MacType related Dlls.
![qq 20181009210212](https://user-ima

[2018-10-10 01:59] sammilucia commented on #441
@snowie2000 done in Registry Mode straight after a restart. Chrome is currently not rendering with MacType.
![image](https://user-images.githubusercontent.com/3295286/46708776-eafe8480-cc87-11e8-81b8-8c963c99734e.png)

MacWiz process manager seems to think it's running?
![image](https://user-images.githubusercontent.com/3295286/46708806-1bdeb980-cc88-11e8-8f5b-fc53908593ba.png)

[2018-10-10 07:06] snowie2000 commented on #441
@sammilucia Only chrome.exe is not rendered or everything is not rendered?
What is the parent process of chrome?

[2018-10-10 08:04] Mahayu commented on #440
The screenshot was taken from thwiki.cc,

![default](https://user-images.githubusercontent.com/22572355/46721617-07111e80-cca6-11e8-9e34-1142296e4fc9.jpg)
![default](https://user-images.githubusercontent.com/22572355/46721618-07111e80-cca6-11e8-97dd-13078e92dcee.jpg)

Here is the oringal link:
https://thwiki.cc/%E5%AE%98%E6%96%B9%E6%B8%B8%E6%88%8F/%E9%94%99%E8%AF%AF%E8%A7%A3%E5%86%B3%E5%8A%9E%E6%B

[2018-10-10 08:27] sammilucia commented on #441
good question... hmm...

## renders correctly
explorer.exe -> procexp64.exe
services.exe -> svchost.exe -> mullvad
explorer.exe -> fireworks.exe
explorer.exe -> explorer windows / window titles
explorer.exe -> nexusclient.exe
explorer.exe -> greenshot.exe
services.exe -> tinywall.exe
explorer.exe -> phraseexpress.exe
explorer.exe -> flashbackplayer.exe
explorer.exe -> startisbackcfg.exe
explorer.e

[2018-10-10 08:28] sammilucia commented on #441
chrome.exe is centbrowser of course btw @snowie2000

[2018-10-10 09:03] snowie2000 commented on #440
![qq 20181010164757](https://user-images.githubusercontent.com/11767189/46724370-74c04900-ccac-11e8-8d74-ac49d30f29cf.png)
Here it is.
The black background problem is more or less solved. (by disabling support for 16bit graphic) But the texts are very hard to see using cleartype.

I believe the Touhou series used some sort of tricky method to get the text outline as VirtualBox did. (Virtualbox cre

[2018-10-10 09:06] snowie2000 commented on #441
mactunner is naturally unrenderable. It disables mactype from the internal control center.

[2018-10-10 10:12] goldmonkey163com commented on #346
I wonder if it is useful to send you the records on MacTuner.exe by Process Monitor. If it's convenient, can I have your email address? @sammilucia @snowie2000

[2018-10-10 11:32] snowie2000 commented on #346
mailto:mactype.feedback@gmail.com
or use the link in my bio profile.

[2018-10-10 11:38] sammilucia commented on #441
yes thought so. wonder what's going on with the other 3 apps and child processes then..?

[2018-10-10 23:19] sammilucia commented on #441
Nope! Different profiles (Default, iOS) do the same thing. In addition my profile (Clean) hasn't changed, the only thing that changed was I reinstalled my Win8.1 x64.

[2018-10-11 05:59] snowie2000 commented on #446
@Azurak I installed a lot of fonts, and so far so good.
Still waiting for your font archive to do the final test.

[2018-10-11 06:04] snowie2000 commented on #236
@sammilucia It is surely a wont-fix issue. Closing.

[2018-10-11 06:04] #236 closed

[2018-10-11 06:12] snowie2000 commented on #440
Okay, Touhou 8th. Pretty readable texts. It's clear that the game did its own rendering to texts. It only uses GDI to get the shapes of texts (Why didn't they use more official ways like `GetGlyphOutline`?)
![untitled](https://user-images.githubusercontent.com/11767189/46784093-5a937300-cd5f-11e8-8beb-637a0be17c10.png)

[2018-10-11 06:34] sammilucia commented on #236
agree

[2018-10-11 14:39] sammilucia commented on #443
Still using Inno Setup, I believe it can do everything we need pretty easily. In-dev installer is a bit of a mess while I learn it but I'll go thru and clean that up shortly.

[2018-10-11 14:42] sammilucia commented on #204
Closing as abandoned. Please let us know if you still have this problem with beta2 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-11 14:42] #204 closed

[2018-10-11 14:43] sammilucia commented on #237
Closing as abandoned. Please let us know if you still have this problem with beta2 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-11 14:43] #237 closed

[2018-10-11 14:43] sammilucia commented on #243
Closing as abandoned. Please let us know if you still have this problem with beta2 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-11 14:43] #243 closed

[2018-10-11 14:44] sammilucia commented on #338
Closing as abandoned. Please try my comments and let us know if you still have the problem

[2018-10-11 14:44] #338 closed

[2018-10-11 14:46] sammilucia commented on #386
Closing as abandoned. Please let us know if you still have this problem with beta2 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-11 14:46] #386 closed

[2018-10-11 14:47] sammilucia commented on #429
Closing as no further action. Please let me know if that's wrong

[2018-10-11 14:47] #429 closed

[2018-10-11 15:05] AbraxasVi commented on #237
@sammilucia Thanks for calling. It seems the problem had been solved with beta2, with 10.0.17134.345
and also when i open the user guide, it wont stuck now.
beta2 is working very well, may i ask why the cpu usage is so strange before?

[2018-10-11 21:17] 11igors11 commented on #204
don't use mactype now

[2018-10-12 00:53] sammilucia commented on #204
no problems thanks @11igors11 we'll still keep an eye out for this in case it was a bug

[2018-10-12 00:56] sammilucia commented on #237
@AbraxasVi that's great news!
before, running in Tray Mode before, MacType used to check for new processes very often (by default) ... I believe snowie changed this in the beta to check less often 😊

[2018-10-12 01:03] sammilucia commented on #388
duplicate of #322

[2018-10-12 01:09] sammilucia commented on #441
duplicate #320?

[2018-10-12 01:09] #320 closed

[2018-10-12 01:10] sammilucia commented on #305
Hi @JimFlasch ... sorry for no reply. Did you ever work this out?

[2018-10-12 01:13] sammilucia commented on #284
Hi @jmbattle0 ... i'm going to close this issue because it hasn't had any takers and we need to keep issues managed so we can focus on what needs to be done for next releases of MacType... maybe there are some forums where you might be able to get some help for this?

I believe a lot of the code for gdipp was updated in MacType so you should be able to get close, but maybe not perfect. If you can

[2018-10-12 01:13] #284 closed

[2018-10-12 01:15] sammilucia commented on #322
duplicate of #401, now that vscode / Chromium / Electron only support DirectWrite... this is now a "how to work better in directwrite" question

[2018-10-12 01:15] #322 closed

[2018-10-12 01:17] sammilucia commented on #388
duplicate of #401, now that Atom / Chromium / Electron only support DirectWrite

[2018-10-12 01:17] #388 closed

[2018-10-12 01:41] sammilucia commented on #395
hi @U11Leung ... the Office 2016 problems should hopefully be fixed with the latest commit (planned for the next beta release).
Can you please try the new beta2 and see if any of the other problems are fixed https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2

[2018-10-12 01:45] sammilucia commented on #305
yup! got out of hand for a while, but we're getting on top of things now. thanks for your response @JimFlasch ! 😊

[2018-10-12 01:48] sammilucia commented on #358
Hi @Skyyblaze @Nek80 ... can you please
1. install the latest beta2 https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2
2. check the decimal in your ini files matches your regional settings ('.' or ',')

let me know if it's now working?

[2018-10-12 01:51] sammilucia commented on #443
@snowie2000 for #358 the new installer supporting regional decimals... I can have two sets of INIs one for comma decimals and one for period decimals. Is this wise though? It increases our work, and I don't know that people expect regional settings to be supported in ini files and will cause support issues... Should we standardise on one?

[2018-10-12 02:04] snowie2000 commented on #441
@sammilucia I don't know, seems not related. That's a problem with the autostart of the tray app.

[2018-10-12 02:08] snowie2000 commented on #237
I changed the way mactray.exe/mt64agnt.exe looking for new processes.
The tray app used to scan through the whole process list and check each process for new created processes (every 5sec by default). That's the peak you saw in the CPU graphic.
Now it utilizes the WMI to capture new processes. It never scans the process list anymore.

[2018-10-12 02:15] sammilucia commented on #441
seems like #320 is probably not a bug but a windows / UAC / AV problem, i'll keep it closed, but feel free to reopen

[2018-10-12 02:16] snowie2000 commented on #443
@sammilucia I think, even those people who set their decimal separator to comma are actually used to use period as their daily separators.
As I have solved that locale problem, I don't think we need another whole set of profiles with the only difference of decimal separators. Users should be happy with period as the separator as it is commonly used worldwide.

[2018-10-12 02:39] snowie2000 commented on #282
@sammilucia I almost forgot it :upside_down_face:

Alright, I walked through my mailbox and found the mail about the issue, I mean, the issue about the incorrect rendering of "font ligatures" instead of the real topic "diacritics".
Actually, I've never heard back from @tcbbd, so there is not much I can do.

As of the ligature problem, I don't see any defect on my webstorm with the latest mactype.

[2018-10-12 03:46] sammilucia commented on #282
I don't see the problem on my PC either with a quick look around (mine used to be mainly on Control Panel stuff)
![image](https://user-images.githubusercontent.com/3295286/46846855-1b315900-ce29-11e8-88a9-74d3b73fa5c9.png)
![image](https://user-images.githubusercontent.com/3295286/46846870-34d2a080-ce29-11e8-999d-09fdf57e63d6.png)
![image](https://user-images.githubusercontent.com/3295286/46846890

[2018-10-12 03:47] sammilucia commented on #282
Going to close this now so we can keep up momentum, but please let us know if you're still having it with beta2 @tcbbd @IceMan81 😊

[2018-10-12 03:49] sammilucia commented on #317
Hi @Strannikus . i'm going to close this as I believe it's resolved in beta2, however please also see the release notes https://github.com/snowie2000/mactype/releases/tag/1.2018.917.0-beta2 for more comments.

Please let me know if you still have problems 😊

[2018-10-12 03:49] #317 closed

[2018-10-12 03:52] sammilucia commented on #334
@Explorare those fonts you've marked are being rendered with DirectWrite. Weird for them to use DW just for those... or maybe it's the controls they're using from their libraries/IDE.

Because this is related to the DW question, I'm going to mark this as a duplicate of #401. Improving DW is an ongoing question for that issue

[2018-10-12 03:52] #334 closed

[2018-10-12 03:53] sammilucia commented on #311
Hi, the latest beta code (not released yet) re-adds the support for FontSubstitutes. So I'm going to mark this as solved for now. Please keep an eye out for beta3 when it's released, hopefully this fix will make it into that release - we'll let you know 😊

[2018-10-12 03:53] #311 closed

[2018-10-12 03:55] sammilucia commented on #443
- Added pre-install code
  - call previous uninstaller
  - forceful cleanup
  - structure for manually stopping services / de-registering DLLs, killing mactray.exe, etc.
- Fixed duplicate file copy
- Structure for logging
- Structure for error handling

[2018-10-12 03:56] IceMan81 commented on #282
@snowie2000 thanks for trying out the font. Your test is correct.
Looking at your screenshot I see the shadows in the double equals, triple equals and the greater than symbols. See how they look when mactype is turned off. You should see a difference.

[2018-10-12 03:58] IceMan81 commented on #282
@sammilucia do you mind sharing your ini file. Your rendering looks really good. Not sure if it’s because I’m looon at your screenshot on a phone!

[2018-10-12 04:03] sammilucia commented on #282
haha of course! I've actually snuck it into the next beta3 ;)
here 'tis 😊

[Clean.zip](https://github.com/snowie2000/mactype/files/2471535/Clean.zip)

[2018-10-12 04:17] snowie2000 commented on #282
Hmm, that is not a shadow, it's the result of vertical antialias.
This is what it looks like under cleartype:
![qq 20181012121434](https://user-images.githubusercontent.com/11767189/46847736-74dd5780-ce18-11e8-9bf7-18f726dca86d.png)
Pretty clean, right?
Let's see what does the font look like in real
![qq 20181012121553](https://user-images.githubusercontent.com/11767189/46847763-976f7080-ce18-11e8

[2018-10-12 04:55] tcbbd commented on #282
Well, what I'm talking about is the Clipbox problem. The clipbox is sometimes smaller than the glyph, causing the imperfect rendering results. It can happen in many circumstances, e.g., for combined letters (maybe because the clipbox of the combined letter is miscalculated using metrics of the diacritic symbol), or for nastaliq arabic letters (see https://ur.wikipedia.org). IIRC this can also happ

[2018-10-12 05:13] IceMan81 commented on #282
Here's what i see on the Mac.

<img width="1217" alt="screen shot 2018-10-11 at 10 09 35 pm" src="https://user-images.githubusercontent.com/1093778/46849145-dbc02980-cda2-11e8-9e8e-c9d9d0fb4ec1.png">

[2018-10-12 05:17] snowie2000 commented on #282
You're using such a large sized font, you won't see any shadow in Windows too.
![qq](https://user-images.githubusercontent.com/11767189/46847778-b4a43f00-ce18-11e8-8005-96d3ba971566.png)

[2018-10-12 05:32] snowie2000 commented on #282
@tcbbd I need precisely the letters and the program that will cause this issue to narrow down the problem 'cause I know nothing about the diacritic symbol and I don't know how to type them out.

[2018-10-12 05:34] IceMan81 commented on #282
@snowie2000 OK, I can see the difference between the different font sizes, same as what you see. Size 28 onwards its very clear.

[2018-10-12 06:02] FrankEBailey opened #450 "Total Commander process gives "Access Denied" on 1.2018.908.0"
I updated my MacType to allow it to work with Firefox versions after 57, and everything was fine until I rebooted, and now Total Commander is not allowing MacType to access its process. It was working fine on the previous version, so this is possibly a new bug.

https://www.ghisler.com/download.htm

I've tried with the latest version, both 32 bit and 64 bit, and both give the "access denied" error

[2018-10-12 07:42] tcbbd commented on #282
@snowie2000 Here is an example:

There is a "combining double breve below (U+035C)" between a and b, and another one between b and c. They are shown in Chrome, but not in Firefox (with DirectWrite disabled and MacType). This is an extreme example in which the diacritic symbol is completely disappeared since it is below the base line, most cases are not like this and maybe not so noticeable, but th

[2018-10-12 07:49] snowie2000 commented on #450
Which mode are you using?
I found that the service mode is a little weird that it can't access some process while the tray mode can.

[2018-10-12 07:51] snowie2000 commented on #282
Confirmed, it did happen.

[2018-10-12 08:21] FrankEBailey commented on #450
I'm using the tray mode :(

[2018-10-12 09:07] Mahayu commented on #440
Thanks for your effort. (And it wasn't Touhou 8th XD , it's just 12.3th.)
Anyway putting time on common issues is more important now, and I've put games in exclude lists.
Waiting for release. 👍

[2018-10-12 12:29] sammilucia commented on #440
yay i think this is a good solution (disabling for 16 bit graphics)

[2018-10-12 12:29] #440 closed

[2018-10-12 12:46] zxzlf commented on #446
@Azurak @snowie2000
更纱黑体 seems to be the reason, but 2017.628 version works well with it.

[2018-10-12 12:54] snowie2000 commented on #446
Can you upload it/them?

[2018-10-12 13:07] zxzlf commented on #446
@snowie2000
https://github.com/be5invis/Sarasa-Gothic/releases

[2018-10-12 13:52] zxzlf commented on #446
@snowie2000
I'm using Windows10 Ent x64 1803, I've tested font version 0.6.0 & 0.5.4, ttc & ttf version, all of them cause crashes. Not only explorer.exe, some programs like Editplus, Beyond Campare 4 crash
when I choose Sarasa Mono to display.
[ZLF.txt](https://github.com/snowie2000/mactype/files/2473263/ZLF.txt)

[2018-10-12 13:59] snowie2000 commented on #446
Could you kindly do a memory dump for me? That will help the most.
Thank you.

To do a memory dump, follow the instruction below:
https://stackoverflow.com/questions/30121822/how-to-generate-windows-memory-dump-when-application-crashes

Method 2 and 3 is a little complicated, but it only generates a dump of several KiBs. Dumping with task manager is easy but it generates a full dump with about hun

[2018-10-12 14:06] snowie2000 commented on #446
Alright, it crashed my system.
I'll take care of it.

[2018-10-12 14:44] snowie2000 commented on #446
Okay. So this is a bug of FreeType 2.9.1.
Downgrade it to 2.8.1 solved the problem. I'll report it to freetype team later.

[2018-10-13 01:27] sammilucia commented on #443
i think it's ready to go. i need people who can test it on a 32 bit Windows

bugfixes:
- Fixed old MacType uninstaller was no longer being invoked
- Added warnings when (un)installing to backup profiles first

[2018-10-13 01:40] snowie2000 commented on #443
Okay, I think  We can release a new beta tomorrow or next weeki, probably we can have a chance to test them together.
Also, I have another question that does your installer come with an updater.

[2018-10-13 02:14] sammilucia commented on #443
Yep, ready when you are. I'm suspicious 32 bit installs will have problems ... I might need to build a VM if there's no one to help test 😜

Yes there's a few options by the looks...

I think for maintainability since we all have other commitments, we should keep setup.exe simple to start. the simple way is to let Inno Setup handle the updates... it's very easy to create a new package now the groun

[2018-10-13 02:45] gengyu89 commented on #266
I am sorry to hear that! This is the most unfortunate case ever.

[2018-10-13 05:38] sammilucia commented on #282
@IceMan81 i've just changed the italics slant to -2, it was too strong on fonts without their own native oblique/italics files.

[2018-10-13 06:15] IceMan81 commented on #282
@sammilucia Thanks for the update. Actually, I never understood what the ItalicSlant was meant to do to a slanting typeface.

[2018-10-13 06:42] sammilucia commented on #282
@IceMan81 so now you know! 😂

[2018-10-13 07:49] FrankEBailey commented on #450
Just FYI, it turned out that the Tray mode wasn't running as an Administrator (I'd clicked the box but it either didn't save or I unchecked it later without noticing). When I ran it as admin the issue went away, so I'm closing this one. Thanks for your response, and have a good weekend.

[2018-10-13 07:49] #450 closed

[2018-10-13 09:08] snowie2000 commented on #446
![qq 20181013170719](https://user-images.githubusercontent.com/11767189/46903662-8e5ecc00-cf0a-11e8-87b0-073a5006e49e.png)
It is back to work after I downgraded FreeType to 2.9. So it's a bug introduced by 2.9.1

[2018-10-14 01:02] snowie2000 commented on #266
@gengyu89 What do you mean by "This is the most unfortunate case ever."?

[2018-10-14 15:40] KenWayTheGod commented on #360
You can forcibly disable DirectWrite in the shortcut to your Chrome, right-click the shortcut to your Chrome and in the "Target:" Box, right after the end of the quotes type,

--disable-directwrite-for-ui

Like this: https://lithi.io/file/81f8.png

[2018-10-14 23:18] sammilucia commented on #360
Hi @KenWayTheGod unfortunately this switch is no longer supported by Chrome and Electron.

[2018-10-16 04:26] fonlan opened #451 "Mactype install failed on Win10 EN"
公司电脑是Win10英文版，运行0628的安装程序时如果语言选简体中文则出现以下错误：
![cn_error](https://user-images.githubusercontent.com/7898348/46992800-72dc0700-d13e-11e8-8e36-5bf8599ed39d.png)
如果选英文则在写入ini的时候出现以下错误：
![en_error](https://user-images.githubusercontent.com/7898348/46992825-9acb6a80-d13e-11e8-9832-71b29da11161.png)

还有啥别的办法安装Mactype吗？文件可以手动放置，能不能给个命令行添加mactype服务的方法？

[2018-10-16 04:35] snowie2000 commented on #451
可以下载便携版http://www.mactype.net/station/?dir=Portable
添加服务可以通过向导自动进行。

另外新版的安装程序已经在制作中，未来将不会有这个问题。

[2018-10-16 05:28] sammilucia commented on #282
Good decision, I think

[2018-10-16 08:48] sammilucia commented on #451
Hi @fonlan, sorry for your issue, please follow snowie's comments and let us know if you get stuck, there will be a new installer soon.

Closing as covered by #443

[2018-10-16 08:48] #451 closed

[2018-10-16 09:29] snowie2000 commented on #451
@sammilucia Actually fonlan is the first publisher(if I can call that) and installer provider. He made the first installer for mactype (it was gdi++ back then) with inno (if I remember it right).
Later I took over the publishment and moved to AI.
Greetings @fonlan

[2018-10-16 09:37] sammilucia commented on #451
@snowie2000 oh wow! hey @fonlan ! 😊 now we're back to Inno Setup! 😊

[2018-10-16 11:04] sammilucia commented on #414
Thanks @AhaoAile  ... there was also some font replacement that's disabled in the current MacType ... it should hopefully be enabled again in the next release :)

Closing issue

[2018-10-16 11:04] #414 closed

[2018-10-16 12:35] fonlan commented on #451
Sorry for so stupid question. Just because company laptop's strict policy. It's the first time for Me to know the portable version. Thank you very much!

[2018-10-16 14:55] IceMan81 commented on #414
@sammilucia Is a new beta release already in the works?

[2018-10-16 15:34] IceMan81 commented on #414
@snowie2000 That does sound interesting indeed!

[2018-10-16 23:53] sammilucia commented on #414
@IceMan81 this next release/beta will have a new installer too, so there'll be lots to test

[2018-10-16 23:53] sammilucia commented on #451
@fonlan not at all that's what we're here for!

[2018-10-17 07:49] Plaer1 commented on #426
The new COD wont launch with MacType enabled lol.

[2018-10-18 15:01] CHN-STUDENT opened #452 "在插入外置屏幕之后会引起bug"
已知问题：
插上外置屏幕，会造成QQ截图无法正常截图，渲染不正常，以及字体渲染忽大忽小问题。

目前情况：

笔记本GTX965M win10 1809 系统，外置显示屏23寸，通过HDMI口连接，拔掉外置显示器使用笔记本之后，再插入外置屏幕，会造成QQ截图无法正常截图，渲染不正常，以及字体渲染忽大忽小问题。

暂行方案：
重启系统。

引起原因：
不知道？不知道是兼容性，win的bug还是mactype问题。

另一个玄学问题：
在使用拔掉外置显示器使用笔记本时有些软件无法正常显示，如`Github Desktop,PowerPoint`,会打开闪到左边类似于一个虚拟屏幕的地方？

![image](https://user-images.githubusercontent.com/21209416/47163226-218f6b80-d328-11e8-890b-20681a1fd51

[2018-10-19 01:33] snowie2000 commented on #452
你应该试试不使用mactype会不会有相同的情况。
比如任务栏那个“中”，根本就是一个图标，出现问题和mactype有什么关系？
mactype绝对不可能改变一个软件的窗口位置，你的窗口跑到别的地方去了肯定Windows的bug

[2018-10-19 09:27] sammilucia commented on #444
Resolved by https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. Please let us know if problems continue. Closing issue.

[2018-10-19 09:27] #444 closed

[2018-10-19 09:28] sammilucia commented on #358
Resolved by https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. Please let us know if problems continue. Closing issue.

[2018-10-19 09:28] #358 closed

[2018-10-19 09:32] sammilucia opened #453 "The new COD wont launch with MacType enabled lol."
_Originally posted by @Plaer1 in https://github.com/snowie2000/mactype/issues/426#issuecomment-430526245_

[2018-10-19 09:33] sammilucia commented on #453
@Plaer1 what COD is it specifically?

[2018-10-19 09:33] sammilucia commented on #453
Can you please try beta4 released just now and let us know how you go? https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4

[2018-10-19 09:41] sammilucia commented on #395
Resolved by https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. Please let us know if problems continue. Closing issue.

[2018-10-19 09:42] sammilucia commented on #378
Resolved by https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. Please let us know if problems continue. Closing issue.

[2018-10-19 09:42] #378 closed

[2018-10-19 09:43] sammilucia commented on #421
Hi, this should be resolved by beta4 ... Please try https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. and let us know if problems continue. Closing issue.

[2018-10-19 09:43] #421 closed

[2018-10-19 09:44] sammilucia commented on #346
Resolved by https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. Please let us know if problems continue. Closing issue.

[2018-10-19 10:04] sammilucia commented on #333
Updated release notes to include how to use clipboxfix per #313 https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4
Closing.

[2018-10-19 10:04] #333 closed

[2018-10-19 10:06] sammilucia commented on #420
Hi @alxtr1bal can you please test beta 4 (https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4) and let us know how you go?

[2018-10-19 10:16] sammilucia commented on #374
This appears to be resolved in the latest few versions ... Closing, but please do let us know if this is still happening 😊
![image](https://user-images.githubusercontent.com/3295286/47212524-fa947080-d3df-11e8-9f0f-ad1c7df5285e.png)

[2018-10-19 10:16] #374 closed

[2018-10-19 10:20] sammilucia commented on #390
Evernote Desktop is now working with the new beta4 😊 https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4. Please let us know if you have further problems. Closing issue

![image](https://user-images.githubusercontent.com/3295286/47212721-8a3a1f00-d3e0-11e8-974f-456adb926a8c.png)

[2018-10-19 10:20] #390 closed

[2018-10-19 10:41] snowie2000 commented on #418
Closing since the new process capture mechnism won't do polling anymore, this bug should be gone.

[2018-10-19 10:41] #418 closed

[2018-10-19 10:41] snowie2000 commented on #453
Call On Duty 4 I think

[2018-10-19 12:08] sammilucia commented on #426
@snowie2000 regarding some Java apps (IDEA, etc.) and some games e.g. CoD4 maybe we should develop a standard list of apps to be added to the exclusions, and clipboxfix.

I'm not talking about directwrite apps, just apps that don't work because they don't do fonts properly so MacType either needs to be disabled or the clipbox workaround.

[2018-10-19 12:11] sammilucia commented on #271
Hi @Jamesits, can you please try the new beta4 https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4 and let us know if the problem is resolved. This includes the changes to easyhook.

[2018-10-19 12:34] snowie2000 commented on #426
@sammilucia Maybe we could build a "cloud" app list that needs special treatment. :smile:

[2018-10-19 12:37] snowie2000 commented on #271
Ok, I think you need to grant full control permission to "everyone" to the installation folder.

[2018-10-19 12:42] Jamesits commented on #271
@snowie2000 granted. Now I can start via MacTray which I think have no actual use, and I cannot either stop, restart. Quitting MacTray after started will cause it to stop responding. I think something's wrong while starting.

[2018-10-19 12:45] snowie2000 commented on #271
Did you run mactype as administrator?
If not, try it.

[2018-10-19 12:52] sammilucia commented on #426
haha

[2018-10-19 13:01] Jamesits commented on #271
@snowie2000 Tried running as Administrator.

Before launching MS Edge:
 * Can start/stop/restart
 * At least some fonts are being substituted (notably the IME and MacTray details dialog; but font of MacTray context menu is not substituted)
 * DirectWrite not working at all (enabled in config)

After launching MS Edge:
 * MacTray stopped responding
 * Edge render processes stopped responding at the

[2018-10-19 13:30] Jamesits commented on #271
* Can start
* Can stop, though a little bit slow (responds ~30s later)
* Can quit, but will still kill one or two edge render process
* Font substitution still only working for limited dialogs

[2018-10-19 13:37] extratype opened #454 "Wiki description for DirectWrite parameters"
I find some of them incomplete or misleading.. as compared to the reference [IDWriteFactory::CreateCustomRenderingParams](https://docs.microsoft.com/en-us/windows/desktop/api/dwrite/nf-dwrite-idwritefactory-createcustomrenderingparams), [IDWriteRenderingParams interface](https://docs.microsoft.com/en-us/windows/desktop/api/dwrite/nn-dwrite-idwriterenderingparams).

It says `EnhancedContrast` (call

[2018-10-19 13:39] snowie2000 commented on #271
I may need to set up a win10 VM to test all the problems next monday.
Could you please try to extract the old mactray.exe from 2017.628 to see if can work with the new dlls correctly? So we can narrow down the problem to mactype or just the tray app.

[2018-10-19 13:42] snowie2000 commented on #454
Thank you for pointing it out.
Try to fiddle with it when I got time, or next monday at least.

[2018-10-19 13:45] Jamesits commented on #271
It behaves the same as the new MacTray.

[2018-10-19 13:47] Jamesits commented on #271
Also I've set up a few Windows 10 VMs but cannot really reproduce all the problems I'm currently experiencing. If you can't reproduce them too, maybe we can schedule a time to let you connect to my PC and have a look?

[2018-10-19 13:49] snowie2000 commented on #271
So it's the problem with mactype.core then.
As I don't have any Windows10 machine available this weekend, I have to delay all the investigation and tests to the next week.

Does the previous beta work for you?

[2018-10-19 13:53] Jamesits commented on #271
No, it never worked after Windows 10 RS4. I have a VM running Windows 10 2016 LTSB and MacType 1.2017.628.0, and it worked really well.

[2018-10-19 13:56] snowie2000 commented on #271
So it's a problem introduced by RS4.
looks like a Vm running the specific version is a must to reproduced all the problems. sign....

[2018-10-19 14:07] extratype commented on #454
Oh, that reminds me of [DirectWriteTester](https://silight.hatenablog.jp/entry/DirectWriteTester_1_01). I hope it is useful for you.

[2018-10-19 14:20] sammilucia commented on #271
I can't reproduce with Win10 32-bit (1803)

James I don't think this is related but it would be useful to know Windows is in a consistent state on the PC you're having problems with. Have you tried a DISM restore?

**If you do this please ensure you have a backup.**

From an elevated cmd prompt do:
[code]
Which will check the Windows image (source files) is consistent. Once that's done do:
[code]

[2018-10-19 14:28] Jamesits commented on #271
Bad news is that I've tried VMs running RS4/RS5 but cannot reproduce the problem.

[2018-10-19 14:31] snowie2000 commented on #271
edge is well known for its defense and Microsoft is keeping adding barriers to the edge so I believe the edge is the toughest process across the windows 10 os.

Anyway try to exclude the edge process and see if the mactype is working well for your other programs  so that we can concentrate on the one specific program.

[2018-10-19 14:34] sammilucia commented on #271
Yes, I'm pretty sure it's not MacType, it's something to do with your Windows install. You can try the DISM and SFC I suggested above. I'd be surprised if this will fix it but it will eliminate a corrupt Windows install as the cause.

The new installer does go looking for EasyHk*.dll in a few locations (e.g. System32 and SysWOW) but it doesn't do a comprehensive search. You could use something lik

[2018-10-19 14:35] sammilucia commented on #271
@snowie2000 yeah this is my problem with Win10 ... How are we supposed to maintain "known good" installs if it keeps modifying itself. It goes against basic engineering principles.

[2018-10-19 14:42] snowie2000 commented on #271
We don't know. Nobody knows. It's called rolling update, or rolling bug - a bug that's rolling like a snowball - gets bigger on every roll.
I'm just kidding. it's just that the win10 don't like my sound card and kills it every time I reboot. :haha

[2018-10-19 15:06] snowie2000 commented on #271
Thank for your extraordinary unbelievable work. Before you start cloning your system to a VM, could you please take a minute and try to exclude edge to see if mactype is fully working for your other programs?

By exclude, I mean writing to the unloaddll section.

[2018-10-19 15:19] snowie2000 commented on #454
Sure thing. I'm totally a newbie to directwrite world.

[2018-10-19 15:29] Jamesits commented on #271
[code]

I think it is working perfectly now.

[2018-10-19 15:34] Jamesits commented on #271
Just contacted a Microsoft person and they said Edge content process has a special UMCI policy that your process need a Windows signature or WHQL signature to be able to inject DLLs into it. Hope this helps.

[2018-10-19 15:49] snowie2000 commented on #271
Normally you need to sign the dll to make it injectable, but the edge has an exception, it can load dll from program files and system32 folder without verifying signatures.
I don't know they removed this "feature" in the rs4 update though.

[2018-10-20 00:33] sammilucia commented on #271
So weird @Jamesits .... there's something unique about that Windows build ... we just don't know what!

[2018-10-20 03:34] Jamesits commented on #271
I captured my Windows installation overnight and started an copy in a VMWare VM. Inside the VM Edge can be started without expliclt unloading config. So I suspect one of the following differences are the cause:

* A hardware driver
* An internet connection (my system is domain joined so I cannot connect the VM to the network too)
* Some UWP programs (the change of hardware id caused all UWP progra

[2018-10-20 04:06] sammilucia commented on #271
hmm interesting...

the first thing that comes to mind is Intel software guard extensions (SGX) or mayyybee Intel management engine (ME) ... both of these intercept software calls and both aren't emulated in a VM unless passthrough is enabled.

it won't be a domain/group policy because those are enforced after virtualisation.

things you can try on your physical PC:
- uninstall or disable Intel SG

[2018-10-20 04:06] #271 closed

[2018-10-20 04:31] sammilucia commented on #454
Hmm, I think we could combine the wiki, release notes, and DW information to the main website ...

[2018-10-20 04:50] extratype commented on #401
I leave comment here as issues have been merged into this one.

I tried CentBrowser, DirectWrite could be turned off but still parameters was not applied as Chrome. So I just went back to Chrome. I digged Chromium repository a bit to see what's happening.

Chromium uses [Skia](https://skia.org/) to render text across platforms. The rendering part for Windows is `SkScalerContext_win_dw.cpp`. It cal

[2018-10-20 04:57] sammilucia commented on #401
Thanks @extratype ... Just FYI CentBrowser does use GDI for UI and the chrome if you follow the steps in the beta4 release notes https://github.com/snowie2000/mactype/releases/tag/v1.2018.10.19-beta4

[2018-10-20 04:59] dubbadubbadubbacha commented on #367
It should be on the Mac type site. It's not an issue now as I no longer use windows so this issue can be closed. Thanks

[2018-10-20 05:32] snowie2000 commented on #195
@kraml I didn't notice it, could you show me a picture of that gitch?

[2018-10-20 05:44] sammilucia commented on #367
@dubbadubbadubbacha Ahhhh i understand now ...

I can't find the profile you mean, so I've created a test profile with an obvious shadow. There were changes in beta4 which allow Service Mode to hook explorer better, from what I can see this is working consistently now.

Though... @snowie2000 the clipbox isn't working for shadows?
![image](https://user-images.githubusercontent.com/3295286/47251936-

[2018-10-20 05:47] sammilucia commented on #195
my Google Backup and Sync is displaying correctly (version 3.42.9858.3671)

[2018-10-20 05:47] snowie2000 commented on #367
No, clipbox is only enlarged for texts, not shadows, so they can be clipped in programs.

[2018-10-20 06:30] sammilucia commented on #367
ok. closing issue - resolved in beta4

[2018-10-20 06:30] #367 closed

[2018-10-20 07:57] sammilucia opened #455 "In Registry Mode, MacType doesn't automatically apply and old installer not removed"
In Registry Mode, MacType cannot automatically apply to all programs (e.g. Explorer), and DirectWrite hack doesn't work. I will go back to the last stable one.

Also I discovered that the two versions didn't use the same installer, causing ↓
![2018-10-20_153317](https://user-images.githubusercontent.com/12870704/47252922-f9fee700-d47e-11e8-936c-08215a705590.jpg)

_Originally posted by @AnClark in

[2018-10-20 07:58] sammilucia commented on #455
@AnClark do you have Secure Boot enabled? Registry Mode won't work with it..

[2018-10-20 07:58] extratype opened #456 "Status for GDI+?"
I don't know the history, it seems support for GDI+ (gdiplus) had been suspended.
Applications today rarely uses GDI+ though...

[2018-10-20 08:12] sammilucia commented on #455
hmm, that's interesting @AnClark ... the new installer should remove the old installer package. Could you please go to C:\Users\<yourprofile>\Appdata\Local\Temp and find any Setup Log 2018-10-???????.txt files and post them here?

[2018-10-20 08:16] sammilucia commented on #455
Tested Registry Mode on Win8.1 x64 and Win10 32-bit 1803, could not reproduce

[2018-10-20 09:02] snowie2000 commented on #456
I was thinking to add support for Gdiplus months ago maybe years ago, but there are barely any documentation about it.
Gdiplus used a proprietary font engine which the Microsoft published  almost nothing about it.

[2018-10-20 09:51] AnClark commented on #455
I always have the Secure Boot disabled...

[2018-10-20 09:54] snowie2000 commented on #455
How is the previous beta work for you?

[2018-10-20 09:54] AnClark commented on #455
Maybe you should better use Windows Installer instead of Inno. The two installers differ too much.

[2018-10-20 10:14] AnClark commented on #455
@snowie2000 `2018_1019` or `2017_0628`?

[2018-10-20 10:33] sammilucia commented on #455
@AnClark it's not the new installer. The new installer invokes the Windows Installer to remove the old package. In your case it didn't work, which is the first time we've seen that. If you provide the log I asked for we can see why and fix it - thanks

[2018-10-20 12:38] kraml commented on #195
They should be like this:

![snipaste_2018-10-20_20-36-57](https://user-images.githubusercontent.com/358679/47255730-15cab300-d4a8-11e8-9889-863c3c998a54.png)
![snipaste_2018-10-20_20-37-41](https://user-images.githubusercontent.com/358679/47255731-16634980-d4a8-11e8-833d-bb13a9f6b7f6.png)
![snipaste_2018-10-20_20-37-57](https://user-images.githubusercontent.com/358679/47255732-16fbe000-d4a8-11e8-

[2018-10-20 16:01] mufunyo commented on #401
For reference, the screenshot in my 24 feb comment were created with the following settings:

`[General]
HintingMode=1
AntiAliasMode=4
NormalWeight=0
BoldWeight=0
ItalicSlant=0
EnableKerning=1
GammaMode=0
LcdFilter=2
BolderMode=2
TextTuning=0
TextTuningR=0
TextTuningG=0
TextTuningB=0
GammaValue=1.4
Contrast=1.0
RenderWeight=1.0
Fontlink=2
HookChildProcesses=1
FontLoader=0
FontSubstitutes=1
Shadow=

[2018-10-20 20:59] tuhz commented on #453
Yes I have seen several recently released games won't launch with MacType enabled, including the latest Call of Duty, the latest Forza Horizon 4, etc.

[2018-10-20 23:08] CrossbowDemon opened #458 "How to Enable Color Fonts? Please Help."
I do not understand how to enable color fonts.
Please explain it for each individual step by step.

As in, Explain It Like I'm Five.

[2018-10-21 02:49] snowie2000 commented on #458
It's simple.
Append
[code]
to your profile (the chrome.exe setting is optional if you don't use chrome or you use it with DirectWrite enabled).
Then, download any color font (I suggest [Segoe UI Emoji](https://www.wfonts.com/font/segoe-ui-emoji) as it's made by Microsoft and known to be compiled with Microsoft layered color font standard).

Now, you can try to run the charmap application and check

[2018-10-21 06:14] xbipin opened #459 "explorer crashes when using ctrl+del to delete any file while mactypes service is running"
when PC is booted and mactypes service is running and after a while you try to delete any file using ctrl+del keys on keyoard, explorer keeps crashing but as soon as explorer is reloaded and you try again then it works fine and using same key combo after that keeps working till PC is restarted again. I noticed this issue since the public release of mactypes last year till date and also present on

[2018-10-21 09:41] snowie2000 commented on #459
There was a similar issue #433 which is eventually a bug of FreeType.
Could you please do a mini memory dump for explorer.exe on crash to see if they are the same?

If they are the same bug, we have to wait until freetype team fixes it.

[2018-10-21 10:05] AnClark commented on #455
Sorry that at this time I might have less time to get logs, as I installed the old release back...

[2018-10-21 10:06] AnClark commented on #455
Could I get the Inno script?

[2018-10-21 10:50] sammilucia commented on #455
your confidence in my ability is overwhelming 😂

...that's up to @snowie2000. however I can tell you that the new installer calls `msiexec /uninstall  {E68951B7-9D7A-4727-9203-34909E3358D1}` (which is the AppId of the old Windows Installer package)

it then writes the results to the setup log.

if it's not removing the old package it's because the old Windows installer (or your Windows) is borked.

[2018-10-21 10:53] sammilucia commented on #401
@extratype i really like these settings!
I haven't seen these [DirectWrite] or [Direct2D] settings before and they're different from those in the Wiki ... are these the new ones?

[2018-10-21 10:53] snowie2000 commented on #455
It's your work so of course you have the call

[2018-10-21 10:55] extratype commented on #401
@sammilucia those settings are for MacTypePatch.

[2018-10-21 10:57] sammilucia commented on #458
:+1: added to the wiki

[2018-10-21 10:57] sammilucia commented on #458
Closing as answered. @CrossbowDemon please let us know if you have any questions at all 😊

[2018-10-21 10:57] #458 closed

[2018-10-21 11:14] extratype commented on #401
@sammilucia Those settings are for MacTypePatch. They are translated to...

[code]

But `ForceNoHinting` conflicts with MacType. Hinting is disabled so it is fixed to 1.

[2018-10-21 11:48] sammilucia commented on #401
@extratype right! thank you.... so far i've avoided using DirectWrite! 😜

[2018-10-22 02:26] goldmonkey163com commented on #346
The problem continues with the new release. I wonder if there is anything I can provide. @snowie2000 @sammilucia

[2018-10-22 10:33] snowie2000 commented on #346
Provide your profile and you can use process explorer to check if `mactype.dll` and `mactype.core.dll` has been loaded by mactuner.

[2018-10-22 11:16] goldmonkey163com commented on #346
I use the new release by uninstalling the old one first and installing a new one, so there is no specific profile I can provide. As I said in the new email, it seems that mactray.exe has something wrong.

[2018-10-22 12:01] snowie2000 commented on #346
Okay... I forgot that I had the same design in the tray app.
Try this one.
[MacTray.zip](https://github.com/snowie2000/mactype/files/2501223/MacTray.zip)

[2018-10-22 12:32] goldmonkey163com commented on #346
Thank you very much, it is perfect now @snowie2000

[2018-10-22 14:55] #346 closed

[2018-10-22 16:54] snowie2000 commented on #346
Then what do you mean by "something wrong"

goldmonkey163com <notifications@github.com>于2018年10月22日 周一19:27写道：

[2018-10-22 21:43] IceMan81 opened #460 "What freetype setting are applied when AntiAliasMode=4 & HintingMode=3"
@snowie2000 I think I've asked this before, but I couldn't find the answer when looking for it now.

What's it mean when HintingMode = 3 and AntiAliasMode = 4?

I think AntialiasMode = 4 is LCD+Light but not sure.

[2018-10-23 04:24] IgnacioMD opened #461 "Beta 2018 10 19 - New installer could not create shortcuts in Start Menu"
Hi, i had MacType 2017.0628, running as service. Without uninstalling the old version, i stopped the MacType service, and installed the beta 2018 10 19. The installer gave an error indicating that it could not create the shortcuts in the start menu. I can't acces to the folder C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Mactype by the permissions.. Windows don't display the owner of the f

[2018-10-23 05:35] sammilucia commented on #461
Thanks @IgnacioMD for the detailed description ... In your c:\users\<yourfolder>\appdata\local\temp folder there should be a file called "Setup Log ???????.log" ... can you please post in here or DM it to me?

From your description it doesn't sound like you've had this problem before with any other software?

[2018-10-23 05:52] sammilucia commented on #461
@IgnacioMD can you please open the C:\ProgramData\Microsoft\Windows\Start Menu\Programs folder and try to manually create a folder in there? (doesn't matter what it's called) ... do you get an error?

[2018-10-23 23:56] sammilucia commented on #461
Hi @IgnacioMD thanks for the testing!

Yes the installer doesn't create an icon for MacTray.exe - @snowie2000 should it create this?

Hmm, there's not a lot I can do without a log... I made sure everything gets written to the setup log so I could diagnose stuff like this 😜

@IgnacioMD it's possible under some circumstances profiles won't be deleted. if you look Apps and Features, or Programs and F

[2018-10-24 02:11] snowie2000 commented on #460
The answer is, no difference since maybe FreeType 2.5 (after adobe contributed its CFF rasterizer engine and hinting engine).
FreeType's hinting engine has two different modes. The autohinter works significantly different with the light antialias mode, but adobe's engine behaves consistently in all the Antialias mode.

So, the light mode is deprecated if adobe hinting engine is used.

[2018-10-24 02:11] snowie2000 commented on #460
refer: https://www.freetype.org/freetype2/docs/reference/ft2-base_interface.html#FT_LOAD_TARGET_LIGHT

[2018-10-24 02:34] IgnacioMD commented on #461
Only one entrie: MacType Version 1.18.10.19-beta4 Size 9.96 MB

[2018-10-24 02:46] IceMan81 commented on #460
That’s makes sense from what I see when setting AntiAliasMode=4, but couldn’t figure out what MacType applies when HintingMode=3.

I think HintingMode=0 sets freetype’s default which I think now for ttf fonts is to use the fonts ttf hinting, not the auto-hinter

[2018-10-24 03:25] fonlan opened #462 "Calendar in Outlook2016 display wrong"
![2018-10-24_111604](https://user-images.githubusercontent.com/7898348/47404263-31bba680-d77f-11e8-8903-f4af5981c5ef.png)
Version：1.2018.10.19-beta4
System：Win10 X64 EN
Mode：Service Mode

[2018-10-24 04:42] snowie2000 commented on #462
Is it working with the previous beta? Since I introduced a nasty bug in this beta :-1:

[2018-10-24 04:43] sammilucia commented on #461
Thanks @IgnacioMD ... it sounds like it's removed the old version correctly and installed properly (except for the icons). Thanks for your efforts!

I think you've had a temporary problem which prevented writing to the C:\ProgramData\Microsoft\Windows\Start Menu\Programs folder. It's not possible to diagnose without the log unfortunately - since it's now working 😜

I'll wait to hear from @snowie20

[2018-10-24 11:20] fonlan commented on #462
Previous I use CTP_171017. It works correctly. This is the first time for Me to use the beta version. So I didn't try previous beta.

[2018-10-25 00:39] Explorare opened #463 "Lack of support for Super OTC fonts."
The super OTC version of Source Han Sans won't show up in the `font settings`.
![image](https://user-images.githubusercontent.com/5090766/47469052-5ec89180-d831-11e8-99d9-394dc91c980d.png)
![image](https://user-images.githubusercontent.com/5090766/47469068-74d65200-d831-11e8-825a-95a46dc1bb13.png)

[2018-10-25 00:51] snowie2000 commented on #463
Can you give me a link of it?

On Thu, Oct 25, 2018 at 08:39 Explorare Nota Seniorious <
notifications@github.com> wrote:

[2018-10-25 00:54] Explorare commented on #463
Here it is
https://github.com/adobe-fonts/source-han-sans/raw/release/SuperOTC/SourceHanSans.ttc.zip

[2018-10-25 06:04] kraml commented on #462
I noticed the same issue on the latest 1.2018.10.19-beta4r2, and I don't remember seeing this on previous versions.

Here is how it looks like on my system, with beta4r2, with MacType enabled for outlook.exe. It does not look as bad as the original reporter's though.

![snipaste_2018-10-25_13-58-05](https://user-images.githubusercontent.com/358679/47479034-4a4ebe00-d85e-11e8-8156-f8e42157b784.png)

[2018-10-25 07:34] snowie2000 commented on #462
It should be the fixed by commit https://github.com/snowie2000/mactype/commit/99391a2170392c19fcc1765f78a2f0abdf71bd1b

[2018-10-25 07:36] snowie2000 commented on #461
I used to create icons for all the possible applications although I think an icon for Wizard is usually enough for loading MacType.

[2018-10-25 08:11] snowie2000 commented on #463
Hmm, my Windows 7 didn't recognize the font :-1:

[2018-10-25 08:13] snowie2000 commented on #195
Looks like you are using font substitution. Disable it and try again.

[2018-10-25 08:14] snowie2000 commented on #422
Ok.
Will change the design of the website when I have time.

[2018-10-25 08:31] sammilucia commented on #461
That's what I thought. Okay, closing issue

[2018-10-25 08:31] #461 closed

[2018-10-25 08:34] snowie2000 commented on #463
Based on the description on its website, I believe FreeType supports OTC fonts.
If you can use these fonts in your other programs, I think it's just a problem with the font filter of the font combobox.

[2018-10-25 09:11] Explorare commented on #463
LibreOffice works well with OTC fonts. I'll test it latter.

From: notifications@github.com
Sent: October 25, 2018 16:35
To: mactype@noreply.github.com
Reply-to: reply@reply.github.com
Cc: explorare@outlook.com; author@noreply.github.com
Subject: Re: [snowie2000/mactype] Lack of support for Super OTC fonts. (#463)

By default, FreeType supports the following font formats.

TrueType fonts (TTF) and

[2018-10-25 10:43] kraml commented on #195
I use per app font substitution in MacType, googledrivesync.exe is not in the list.

I do have Roboto font installed on the system so I think that's why the font of the Google Drive UI is using it.

[2018-10-25 16:21] IceMan81 opened #464 "Cent browser on Win 7 freezes when typing in the address bar with v1.2018.10.19-beta4"
I have not had this issue before this beta release : my Cent browser freezes frequently when I'm typing in the address and my only resolution is a forced kill.

This has happened a couple of times yesterday. I can't think of anything else that has changed.
I'll try to create a memory dump and upload next time this happens, in the mean time I wanted to see if others have experienced this.

[2018-10-25 22:40] sammilucia commented on #464
Hi @IceMan81 ... extensions update in the background and can introduce problems. As a test can you please disable all extensions for a day or two and see if the problem still occurs?

[2018-10-25 22:51] sammilucia commented on #456
You've probably already seen these:

[GDI+ API overview](https://docs.microsoft.com/en-us/windows/desktop/gdiplus/-gdiplus-flatapi-flat)
[GDI+ examples for text](https://docs.microsoft.com/en-us/windows/desktop/gdiplus/-gdiplus-text-flat)
[GDI+ methods](https://docs.microsoft.com/en-us/windows/desktop/api/gdiplusgraphics/nl-gdiplusgraphics-graphics)
[More examples](https://docs.microsoft.com/en-us

[2018-10-25 23:51] sammilucia commented on #454
@extratype do you want to help writing the wiki? 😁 😁

[2018-10-26 03:36] AnClark commented on #455
Sorry that I'm busy these days...

[2018-10-26 06:49] sammilucia commented on #455
All good! I know the feeling! 🤪

On Fri., 26 Oct. 2018, 14:06 Artisan AnClark, <notifications@github.com>
wrote:

[2018-10-26 07:07] snowie2000 commented on #464
I use centbrowser every day, and it never happens to me.

[2018-10-26 13:08] AnClark commented on #455
@sammilucia Sorry for let you wait for long. Here comes a fresh log (some texts are in Chinese):
[code]

[2018-10-26 13:10] AnClark commented on #455
Translation:
- 这个操作只对当前安装的产品有效。(This operation is only available for currently installed product.)
- 指定的服务未安装。(The specified service is not installed.)
- 没有等候的子进程。(No child process was waiting.)

[2018-10-26 13:14] snowie2000 commented on #455
I did the translation for you.

[2018-10-26 13:16] IceMan81 commented on #464
I realized there was an extension added - IETab by corporate policy. This may be the culprit. Can’t imagine why it would interfere with typing in the address bar.
I observed that the main render process would peg cpu at 12-13 percent consistently why this happens and I’m about to kill the process tree.

[2018-10-26 14:31] snowie2000 commented on #455
But I didn't change that part at all.  You can check the commit history for that.

[2018-10-26 14:34] snowie2000 commented on #464
Add a password to your zip file should bypass the detection of github.

Maybe I need to install an IEtab next time~

[2018-10-26 15:15] IceMan81 commented on #464
It happened now even with IETab disabled.
Will try uploading again with pwd.

[2018-10-26 23:30] sammilucia commented on #455
@AnClark thanks so much for posting and for translating!

Was an old MacType 2017.x.x package still installed when you ran this? Msiexec is saying that package (`{E68951B7-9D7A-4727-9203-34909E3358D1}`) doesn't exist.

[2018-10-27 00:58] AnClark commented on #455
Yes, there were still old package when I try the new one.

[2018-10-27 01:54] sammilucia commented on #455
Thanks so much for your help with this..

That's so weird. All the previous MacType packages used the same AppId for the installer (the one above `{E6895....`).

Could you please try from a PowerShell:
[code]
This should list the AppId for the MacType Windows Installer package on your computer. Somehow it seems it's different?

If that doesn't work you could search for *MacType* in regedit under H

[2018-10-27 07:10] extratype commented on #454
I'll edit the wiki if I have spare time. I don't know typography, for this issue I just wanted to share my informal thoughts.

[2018-10-28 03:12] kraml commented on #462
May I ask when the next version with this fix will be released?

[2018-10-28 03:17] snowie2000 commented on #462
There are some known bugs waiting to be fixed and I need to test the directwrite branch. So probably the end of the next week.

[2018-10-29 01:50] AnClark commented on #455
OK, I will do it tonight.

[2018-10-29 06:10] snowie2000 commented on #454
@extratype Would you mind to join us?
There is no any kinda forced contributions here. You're totally free.

[2018-10-29 06:16] snowie2000 commented on #455
@sammilucia The installer part is totally a black box for me. I feed my files in, it gives me an installer out.
It's all I know. 😂

[2018-10-29 06:18] snowie2000 commented on #456
The real problem is that the GDIPlus uses a different layout engine which arranges letter differently from GDI, and I didn't find anything useful for it.

[2018-10-29 06:31] Explorare commented on #463
All of the following softwares support OTC and show all the languages and weights correctly.

- Windows 10 (after the Creative Update)
- Thunderbird 60 and Firefox
- Chromium
- OneNote 2016
- Calibre book reader (based on QtWebKit)
- LibreOffice

[2018-10-29 06:41] sammilucia commented on #456
Ok got it. Close?

[2018-10-29 07:29] snowie2000 commented on #456
Closing as supporting it is not currently planned and this technology is no longer heavily used today.

[2018-10-29 07:29] #456 closed

[2018-10-30 00:37] AnClark commented on #455
@sammilucia The result is here:
[code]

[2018-10-30 00:48] sammilucia commented on #455
Thanks so much @AnClark ... That confirms my theory... For some reason your MacType has a different Windows Installer ID. That's very strange. My understanding is all the previous installers should have the same ID.

Please try this installer, which should fix the issue.

[MacTypeInstaller_2018_1019_beta4r3.zip](https://github.com/snowie2000/mactype/files/2527558/MacTypeInstaller_2018_1019_beta4r3

[2018-10-30 00:50] AnClark commented on #455
@sammilucia OK, I will have a try.

[2018-10-30 01:20] sammilucia commented on #455
@AnClark Windows Installer will only upgrade a matching installation ID also, so wouldn't have fixed this problem. Correct me if I'm wrong.

The other reason we moved away from Windows Installer API is we couldn't find a *free* and *reliable* tool to build them. The last tool (InstallAware) crashed opening its own project files, and others all cost US$400 or more, which isn't in the MacType projec

[2018-10-30 16:22] Gokou-Ruri opened #467 "最新的2018.10.19在win10 1607上无法渲染UWP程序。"
包括自带的设置、天气等，以及第三方的程序如爱奇艺、网易云等。
![image](https://user-images.githubusercontent.com/26711804/47732817-ed119d00-dca1-11e8-9b3f-5561e38a56e9.png)
![image](https://user-images.githubusercontent.com/26711804/47732920-24804980-dca2-11e8-84aa-d0cfc512938a.png)
我使用的上一个版本是 MacTypeInstaller_2016_0904_0 ，当时使用了MacTypePatch，能够正常渲染所有UWP程序，但有部分使用了DirectWrite的传统桌面程序在替换字体后会出现字体堆叠的情况。然后就下载了最新的10.19试试能否解决这个问题，在安装新版前已

[2018-10-31 06:46] snowie2000 commented on #467
DirectWrite在ios.ini中默认是关闭的，你需要手动开启。

[2018-10-31 06:49] snowie2000 commented on #455
A dirty way to fix the multiple installation entries problem is to enumerate through the installation info in the registry and call uninstall for all of them.

It should, in theory, works, but with unpredictable side-effects.

[2018-10-31 07:13] sammilucia commented on #455
@snowie2000 yes I can handle that pretty easily but the bigger question is - is there any reason a previous installer has a different installation ID? My understanding was the same ID had been used for all previous packages

[2018-10-31 07:18] snowie2000 commented on #455
It shouldn't. I think the Windows Installer doesn't allow you to upgrade to a different AppID.

[2018-10-31 13:43] Gokou-Ruri commented on #467
虚拟机里全新安装的Win10 1607 x64，路径默认。（实机里也是默认安装路径。）
![image](https://user-images.githubusercontent.com/26711804/47791948-d62c8280-dd55-11e8-87b2-59d33be606aa.png)

[2018-10-31 13:47] extratype commented on #454
Thanks but I won't be active for MacType for months. I'd just raise issues or pull requests from time to time.

[2018-11-01 00:40] jekoder commented on #455
apparently mine has the same installer id as him, lucky I saw this post

[2018-11-01 00:52] sammilucia commented on #455
Hmm!! Thanks for checking @jekoder! Looks like we do have a rogue installer ID.

I'll leave it's removal in the new installer, I might add some basic code to record any other IDs to the log for easy diagnosis, just in case there's more unknown IDs.

[2018-11-01 00:57] sammilucia commented on #455
@AnClark please let us know about the new installer, Registry Mode automatically applying, and whether DirectWrite works for you when you can.

[2018-11-01 00:58] jekoder commented on #467
我好像遇到了一样的问题,最新的10.19beta directwrite是enable的

[2018-11-01 01:01] snowie2000 commented on #467
今天稍晚我去弄一个虚拟机测试下。

[2018-11-01 01:09] sammilucia commented on #467
@snowie2000 @jekoder that beta4r3 installer package from #455 I think has a diagnostic build of MacTray.exe from #346 ... I.e. @jekoder's MacTray.exe may be unique

[2018-11-01 01:18] jekoder commented on #467
hmm, let me try beta4r2 then

[2018-11-01 01:47] jekoder commented on #467
also my registration mode does apply to all program same as #455, since my motherboard don't even have a UEFI mode, pretty sure I don't have secure boot

[2018-11-01 05:40] IceMan81 commented on #464
@sammilucia I'm running the new Cent browser betas and I haven't seen the issue the last few days. I would like to keep the issue open till I can further confirm that this is not related to Mactype.

[2018-11-01 06:05] sammilucia commented on #464
@IceMan81 that's interesting, my Cent Browser isn't auto updating to the latest stable... :thinking:

No problems, thank you for the update 😊

[2018-11-01 06:21] vimcaw opened #468 "Color Font looks a bit light in v1.2018.10.19-beta4"
Color Font support is a wonderful featue, thanks the maintainers.

The only thing that is insufficient, after I try it, I think it looks a bit light.

MacType | DirectWrite
------------ | -------------
![image](https://user-images.githubusercontent.com/21964227/47835470-0835f700-dddf-11e8-8861-d92c6c0bf794.png) | ![image](https://user-images.githubusercontent.com/21964227/47835494-24399880-dddf-11

[2018-11-01 06:33] Gokou-Ruri commented on #467
@snowie2000 1809不知为何装完无法启动，只好装了1803。依旧和上面完全一样的效果（截图对比过）。
另：和上面那位用户 jekoder 一样，我的电脑也没有UEFI启动，因为BIOS不支持，旧电脑。

[2018-11-01 06:42] snowie2000 commented on #467
我刚在我很老的win10虚拟机上测试是可以用的，因为电脑性能比较差，安装新的虚拟机需要较长时间，估计要明天才能测试了

[2018-11-01 06:42] snowie2000 commented on #464
Because as he said, it's a beta.

[2018-11-01 07:13] IceMan81 commented on #464
My comment may not have been clear - after I switched to the new Cent betas, so far I haven’t seen the issue.

Fingers crossed!

[2018-11-01 07:14] Gokou-Ruri commented on #467
Windows 10 1803虚拟机测试截图：
测试过三项配置，分别为 Default.ini 、 iOS.ini 、 XMac.LCD.Default.ini 。
其中 Default.ini 和 iOS.ini 默认开启DirectWrite渲染，而 XMac.LCD.Default.ini 默认没有这项参数(故默认值为 0 )，手动添加后，依旧不能渲染UWP。

以上三项配置每次切换后都会手动重启一次系统，重启后依旧无法渲染UWP。

P.S. 1607和1709是用 vmware14 安装测试的，1803则是用 vmware15 安装测试的。均为官网下载的原版vmware，无任何修改或精简。

![image](https://user-images.githubusercontent.com/26711804/47837721-07559300-dde8-11e8-872d-3f

[2018-11-01 07:20] vimcaw commented on #468
Ok, understood, it's normal in other apps.

Notepad:
![image](https://user-images.githubusercontent.com/21964227/47837854-7337fb80-dde8-11e8-9b52-b483375c36c0.png)
Chrome (After commenting the `invertcolor`):
![image](https://user-images.githubusercontent.com/21964227/47838180-8a2b1d80-dde9-11e8-950e-0eacc6c9c217.png)

[2018-11-01 07:20] #468 closed

[2018-11-01 07:29] Gokou-Ruri commented on #467
系统是在 msdn.itellyou.cn 下载的，文件名：
cn_windows_10_consumer_edition_version_1803_updated_sep_2018_x64_dvd_a3fcbed0.iso
cn_windows_10_multi-edition_vl_version_1709_updated_nov_2017_x64_dvd_100289920.iso

[2018-11-01 08:09] sammilucia commented on #468
Is that why the arrays in https://github.com/snowie2000/mactype/commit/8f8896a5c96e03eb9446a8311167e431dd71e44b are all crazy?

[code]

[2018-11-01 08:13] snowie2000 commented on #468
Exactly. I painted a lot of emojis and collected all the corresponding data, then I did a formula fitting to all the data collected.

[2018-11-01 08:19] sammilucia commented on #468
I'm glad, I was wondering if you'd gone mad 😂

[2018-11-02 02:55] snowie2000 commented on #468
Alright, I figured out I made a mistake on formula fitting.
I've never thought that a text with a solid color will be blended with the background, but Chrome did.
Last time I did the sample collection, I didn't notice that the web page I used to capture colors has a gray background which heavily affected the result.

I did it again, and now it's much better and looks like the real deal.
![qq 20181

[2018-11-02 03:02] snowie2000 commented on #468
@sammilucia Now the conversion table is not so crazy anymore. :laughing:

[2018-11-02 09:01] snowie2000 commented on #467
问题确认。
UWP支持并不存在问题，而是由于目前不清楚的原因导致MacType没有正确的加载。
托盘模式是可以用的，但也不稳定，时有时无。

[2018-11-03 11:29] AnClark commented on #455
@sammilucia OK, I will try tonight.

[2018-11-03 12:17] Gokou-Ruri commented on #467
谢谢！

[2018-11-03 22:47] CubicFace opened #469 "MacType deleted some text"
It's not that easy to explain.
So, some parts of text in the explorer aren't displayed and dialog boxes are empty. I think because I did something wrong on MacType (it's set on Manual). When I start MacWiz.exe, it's empty, there is only a blank window with nothing (wich is the case with MacType btw). How can I uninstall MacType?

[2018-11-03 23:52] snowie2000 commented on #469
If you set mode to manual, manual here is equivalent to disabled. So mactype is actually not running at all and macwiz is a special application that can never be rendered.

It should be a issue with your system instead of mactype.

To uninstall mactype, try safe mode it or you could try to launch a command window and cd to the mactype folder, run the uninstaller from there.

[2018-11-06 05:48] snowie2000 commented on #464
@IceMan81 The Cent Browser has published a new release recently. So, do you still have the problem with the latest version(s)?

[2018-11-06 06:05] IceMan81 commented on #464
@snowie2000 Looks good so far with the latest version. We can close this ticket.

[2018-11-06 06:05] #464 closed

[2018-11-06 06:08] IceMan81 commented on #464
@snowie2000 Is another release planned? And are you planning to merge the directwrite branch changes into the release or is that planned for later?

[2018-11-06 06:33] snowie2000 opened #470 "The new installer didn't grant the correct permission."
The new installer only granted full control for Administrators to the application folder. But for some reason, the inheritance functionality doesn't work properly.

If you check all the files and folders installed with the installer, they all have the right permission. But if you create or copy files from other folders to it, they won't get the right permission.
By right-clicking the newly added f

[2018-11-06 06:38] sammilucia commented on #464
@snowie2000 send to me with a list of things to test, and/or I can run the Win 10 VM and give you remote control

[2018-11-06 06:39] sammilucia commented on #470
Thanks @snowie2000, investigating

[2018-11-06 06:45] snowie2000 commented on #464
I need to merge some code first and compile a "DirectWrite-powered" version then.

It's not kind of test this and that in a list, it's kind of testing while working. I'm working with MacType enabled, and debug when I encounter any error. You have to test MacType with everything you know and do everything possible. Very time-consuming.

So, the test object is simple:
- Download files
- Overwrite fi

[2018-11-06 06:49] sammilucia commented on #470
@snowie2000 just a note - it's best to not have Full Control on a root folder inside Program Files, because typically we want UAC to warn the user if exe or dll files are about to be modified by a malicious process.

Best practice would be to set the \ini folder only as Full Control. However MacType.ini is in the root folder so we can't.

Possible solutions:
1. Make whole folder Full Control for U

[2018-11-06 06:54] snowie2000 commented on #470
It's interesting that sometimes, although a file has the right permission (at least it looks like so), I can read/write the file, but not the program.
Grant full control to a root folder is indeed a lazy and insecure solution, but it works for me. 😄

Okay, put mactype.ini into the ini folder is not very easy, since every profile has the same extension ".ini", so additional codes are required to di

[2018-11-06 07:39] snowie2000 commented on #470
Good. Download and testing.

[2018-11-06 07:54] snowie2000 commented on #470
So far so good, permissions seem correct.
Why you remove the logic of cleaning up the AppInit_DLLs keys?

[2018-11-06 08:03] snowie2000 commented on #470
One more problem:
Looks like the installer didn't create any entries in the start menu. Is it what it designed to be?

[2018-11-06 08:12] sammilucia commented on #470
Dammit, nope! I must have introduced a regression. Looking...

[2018-11-06 08:14] sammilucia commented on #470
Regarding AppInit_DLLs ... because MacWiz.exe handles this anyway doesn't it? I thought there's no point recreating logic to handle it in the installer if MacWiz handles it anyway... Let me know though... 😜

[2018-11-06 08:18] snowie2000 commented on #470
Not in all situations.
If a user uninstalled MacType (with registry mode currently enabled), there is no chance for MacWiz to clean up the keys. Once the user reinstalls MacType, he/she will be in registry mode once the installation is complete.

[2018-11-06 10:10] sammilucia commented on #470
Hmm, okay. I've put back the logic and made it more robust. But I just realised there's one use case where it will wipe AppInit_DLLs when we don't want it to - if you re-run the installer or do an in-place upgrade. Need to add a check for that

CHANGES:
- Made AppInit_DLLs cleanup more robust
- Fixed Desktop icons not being created under some circumstances
- Fixed Start Menu Icons not being create

[2018-11-06 10:12] sammilucia commented on #464
Yeah, do it @snowie2000 !! 😂

[2018-11-06 11:55] sammilucia commented on #470
r6 of new installer. All issues should be resolved but needs more testing - I've added new checks and logic. @snowie2000 can you please test and if okay let me know if you want to package another beta MacType + installer beta before stable release?

CHANGES
- Added logic to only clear AppInit_DLLs the first time the new installer is run
- Added flag to disable selecting install folder if MacType a

[2018-11-06 11:57] sammilucia opened #471 "On fresh install, MacWiz cannot select Registry Mode"
To repro:
1. Clean all MacType installations and restart
3. Install MacType
3. Run MacWiz.exe and select Registry Mode

Expected Outcome:
- MacWiz.exe writes to AppInit_DLLs

Observed Outcome:
- MacWiz reports mode hasn't changed and does not write AppInit_DLLs

[2018-11-06 12:00] sammilucia commented on #471
PS This is revenge for finding installer bug 😂

[2018-11-06 13:18] snowie2000 commented on #471
Okay, I'll check it tomorrow. 😅😅

[2018-11-06 14:47] snowie2000 commented on #471
I checked the code. The wizard determines the loading mode by several conditions (in the following order).
- If service `MacType` is found, Service mode is selected.
- If `mactype.dll` is found in `AppInit_DLLs` keys, Registry mode is selected.
- If autorun information is found in the registry:
  - If `LoadType` in the ini file is 1, Advanced mode is selected.
  - Otherwise, compatible mode is sel

[2018-11-06 21:37] sammilucia commented on #471
Ah okay, this will be a result of me having MacType64.dll in AppInit_DLLs while messing with the installer. I thought it was _only_ reading from the ini. Confirmed, closing

[2018-11-06 21:37] #471 closed

[2018-11-07 06:52] alxtr1bal commented on #420
I confirm tray Issue is fixed in beta4

[2018-11-07 06:54] snowie2000 commented on #420
Thank you @alxtr1bal

[2018-11-07 08:54] snowie2000 opened #472 "🚩DirectWrite powered version test feedback"
If you would like to contribute your valuable time to test the "currently-work-in-uncertainty" version of MacType with enhanced DirectWrite support, I sincerely thank you and here is what you need to do to opt-in.

Please report all the bugs you found with this version in this issue. Don't open new ones unless you are sure that it's a common problem not subject to this version only.

**Steps**
- D

[2018-11-07 08:57] snowie2000 commented on #464
I created a new issue for the testing.
#472

[2018-11-07 10:48] sammilucia commented on #472
Testing.

So what are the changes with this one?

[2018-11-07 11:30] sammilucia commented on #470
Closing as resolved

[2018-11-07 11:30] #470 closed

[2018-11-07 11:31] sammilucia commented on #459
Closing as abandoned. @xbipin please let us know if you can get that memory dump and we'll reopen

[2018-11-07 11:31] #459 closed

[2018-11-07 11:32] sammilucia commented on #469
Closing as this is by design. @CubicFace please don't hesitate to let us know if that doesn't help?

[2018-11-07 11:32] #469 closed

[2018-11-07 11:33] sammilucia commented on #453
Closing - refrenced in #426

[2018-11-07 11:33] #453 closed

[2018-11-07 11:34] sammilucia commented on #455
@AnClark how'd you go?

[2018-11-07 11:38] sammilucia commented on #441
@snowie2000 I have new info about MacType not auto-applying on my Win 8.1 x64 in Registry Mode or Service Mode.

In either of those modes MacType starts at startup, but as per my Process Explorer screenshot, MacType doesn't load into subprocesses (like Cent Browser tabs)

However in Tray mode it does! In either Compatibility Mode or Standalone Mode, if I set MacTray to start with Windows, MacType

[2018-11-07 11:48] sammilucia commented on #401
@extratype can I please add your profile to the official MacType distribution? 😊 😊

[2018-11-07 11:55] snowie2000 commented on #472
Updated with features and changes.

[2018-11-07 11:57] snowie2000 commented on #441
I have no clue why it happened. Try the new version to see if it persists.

[2018-11-07 11:57] extratype commented on #401
@sammilucia Sure! 😄

[2018-11-07 12:15] extratype commented on #472
I had tested on Windows 10 1803 x64 before I submitted the PR. I had Windows 7 in my mind while coding but I didn't test on that.

[2018-11-07 12:29] sammilucia commented on #472
@snowie2000 that's very vague 😜
Working fine here on Win8.1 x64. Will test on Win10 32-bit

[2018-11-07 12:32] snowie2000 commented on #472
Basically, more DirectWrite hooking points were added, and @extratype made the whole code much more readable and easier to maintain.

Plus, the original EasyHook isn't compatible with Edge, so the version in the archive has been modified to fix it. It is still incompatible with edge, but at least won't crash it either.

[2018-11-07 12:37] extratype commented on #401
@sammilucia Oops I didn't write it. Please recheck the comments.

[2018-11-07 12:46] sammilucia commented on #401
@extratype I have, I can't see who wrote it .. please tell me?

[2018-11-07 12:47] sammilucia commented on #472
Okay that makes more sense

[2018-11-07 12:50] sammilucia opened #473 "MacTray.exe balloon tips are not translatable"
E.g. change from Compatibility Mode to Standalone Mode, a balloon tip is displayed, but I can't see a way to translate it in English.lng.

There may be other balloon tips too.

![image](https://user-images.githubusercontent.com/3295286/48132477-9c262800-e2e3-11e8-8ae6-cddce30404e9.png)

[2018-11-07 12:52] snowie2000 commented on #473
It's hardcoded. fixing...

[2018-11-07 12:53] mufunyo commented on #401
@silight-jp wrote MacTypePatch, if that's what you mean.

[2018-11-07 12:55] extratype commented on #401
@sammilucia @mufunyo wrote https://github.com/snowie2000/mactype/issues/401#issuecomment-431594262.

Here's my profile:
[code]

[2018-11-07 13:07] AnClark commented on #455
Problem remains...

[2018-11-07 13:09] IceMan81 commented on #472
@snowie2000 Should I just unzip this over the latest beta?

[2018-11-07 13:50] kraml commented on #472
Installed, so far so good. Font substitution indeed worked on Office 2019. Issue #462 is also gone.

[2018-11-07 14:07] kraml commented on #472
It seems the substitution is not complete, i.e. some chars are but some not. See below.

These are the text on Excel 2019 UI, without substitution.
![snipaste_2018-11-07_21-56-36](https://user-images.githubusercontent.com/358679/48135569-4435f400-e2d8-11e8-9d84-3a593eec3f12.png)

These are with substitution, Microsoft JhengHei -> Microsoft YaHei, Segoe UI -> Roboto.
![snipaste_2018-11-07_21-55-42]

[2018-11-07 14:14] IceMan81 commented on #472
@kraml you can use process explorer from Windows Sys internals to see what fonts have been loaded by a process not sure if there is a way to see for a window of the process.

[2018-11-07 14:30] extratype commented on #472
There had been such option like this

[code]

but it was removed at [8560e3d](https://github.com/snowie2000/mactype/commit/8560e3daacb4031c503f931cf4a2d1f9a4b1632e#diff-5265225bb2eed4c4fae212b4598af2e6L331).

[2018-11-07 14:35] snowie2000 commented on #472
@extratype did I? I didn't.
The settings you wrote just defined a group named office. You need to define rule for the the group to make it work.

@kraml you can define per-app settings by either direct quote
'''
[fontsubtitute@someapp.exe]
Some settings...
'''

Or indirectly by defining a group like extratype did and define rules for the group like an app

'''
[fontsubtitute@office]
Settings go he

[2018-11-07 14:42] extratype commented on #472
@snowie2000 I can't find `Alternative` in [settings.cpp](https://github.com/snowie2000/mactype/blob/master/settings.cpp), so I guess it's not working now. Please follow the commit link to see the change.

[2018-11-07 15:11] kraml commented on #472
Yep @extratype is correct, the Alternative + per group way does not work. The per exe way works. Could we bring the per group way back? It is quite convenient.

[2018-11-07 15:13] snowie2000 commented on #472
So I think it's a bug confirmed.
I haven't noticed it so far.
No worries, I'll bring it back.

[2018-11-07 22:06] sammilucia commented on #455
Which of the three problems @AnClark ?

[2018-11-07 22:15] sammilucia commented on #401
Oh! I'm so sorry @mufunyo!

@mufunyo would you mind if I include your profile in the main release? It's quite unlike any of the other profiles so I think it's a good option for people.

Thanks @extratype I'll try yours too! I will say I'm looking for profiles which are substantially different from the other ones bundled with MacType, so I'll give it a try.

Your cache settings look unusual @extrat

[2018-11-07 22:19] sammilucia commented on #462
Agreed. Resolved by #472, closing

[2018-11-07 22:19] #462 closed

[2018-11-07 22:32] mufunyo commented on #401
Ohh, we're talking about who wrote the profile, not the patch, haha. I'm sorry, I only quickly skimmed the comments today and missed what this was about.

Yeah, I wrote that profile. Feel free to include it! I think the gamma difference between FreeType (1.8) and DirectWrite (1.4) is probably because of a bug/quirk in DirectWrite (not unusual for Microsoft), as they visually match each other. 2.2

[2018-11-07 22:46] sammilucia commented on #401
@mufunyo thank you! It will be included in the next beta!

I compared your DW and FT gamma and agreed with it visually. It will be the non MacType-Patch version that's included. We've asked @slight-jp to join the team a couple of times but can't seem to get a response :disappointed:

Yes, Microsoft don't seem to care about how fonts look... 😜

[2018-11-07 23:43] sammilucia opened #474 "Selecting a profile in MacTray doesn't change profile"
It seems like changing the profile from MacTray doesn't work, you have to use the Wizard.

To repro:
1. Use Standalone or Compatibility Modes
2. Right click MacTray, select a different profile
3. Re-open Cent Browser, Explorer, etc

Expected outcome:
- New profile is rendered

Observed outcome:
- Profile is the same

[2018-11-08 00:10] snowie2000 commented on #474
I may have found the reason,  it's related to environmental variables. when you click the finish on the wizard and update the environment variables.
 I have updated the wizard so as should fix the problem with today's version

[2018-11-08 01:33] snowie2000 commented on #474
Check the mactype.ini file and see if the value of key `AlternativeFile` is changed accordingly.

[2018-11-08 03:03] snowie2000 commented on #441
I got an idea for that. Wait for the version I'll release tonight. (Don't use the version I submitted last night, it's buggy).

[2018-11-08 04:34] sammilucia commented on #474
No it's not changing

[2018-11-08 04:38] snowie2000 commented on #474
Did you run MacTray as Administrator? It is typically because of the permission problem.

[2018-11-08 05:43] sammilucia commented on #474
No, but I'm using the new installer, so I have Modify privs on MacType.ini

On Thu., 8 Nov. 2018, 15:08 snowie2000 <notifications@github.com wrote:

[2018-11-08 09:55] extratype commented on #401
@sammilucia I wanted to make fonts smooth and more easier to read like Mac. I chose Source Han Sans (converted to ttf) as an alternative system default font. I tried built-in profiles but they looked too thick and some parameters felt like extreme to me. I googled for some good articles and heuristically tweaked parameters like them to meet my taste and make fonts similar to Mac. I was not rigorou

[2018-11-08 12:43] AnClark commented on #455
@sammilucia DirectWrite cannot render...

[2018-11-08 12:58] AnClark commented on #455
It seems that UWP apps and frameworks cannot be rendered, but other Win32 apps can.

It's OK in Electron-based apps (e.g. VS Code, Typora) and Microsoft Office.

[2018-11-08 13:08] snowie2000 commented on #455
It's a known bug.  I'm working on it I fixed this on windows 7 but not on windows 10

[2018-11-08 14:35] Mahayu opened #475 "导致 Mathematica 标题栏内容闪烁"
Mactype v1.2018.10.19-beta4, Mathematica 11.3
Windows 10 1803
具体复现步骤：随意打开一个记事本，键入内容。标题栏的文字不断闪烁。
甚至在记事本窗体内点击也会导致闪烁。
将程序加入例外之后便无状况。

[2018-11-08 14:35] AnClark commented on #455
@snowie2000 Cheer up! As DirectWrite hints fonts and makes them too ugly.

(By the way, could you hook the DirectWrite API just like hooking the GDI+?)

[2018-11-08 14:47] snowie2000 commented on #475
请为该程序关闭clipboxfix
此程序对clipboxfix不兼容，一直问题，反复尝试无法解决

[2018-11-08 14:51] Mahayu commented on #475
现在Clipboxfix是默认开启状态了吗？

[2018-11-08 14:55] snowie2000 commented on #475
beta版本中为默认开启，新的实现使用了更加优秀的方式，保证了比较好的兼容性，但是依然有些程序是不兼容的。
mathematica是我测试过的已知的不兼容的程序

[2018-11-08 14:57] Mahayu commented on #475
![default](https://user-images.githubusercontent.com/22572355/48206492-8418dc00-e3a9-11e8-8123-4e72723eeef4.png)

已经在配置文件中加入了以下的项，这样就可以了吗？

[2018-11-08 15:31] Mahayu commented on #475
多谢 明天测试

[2018-11-08 16:35] mufunyo commented on #401
As an aside, I tested El Capitan a while back in a VM and none of the MacType profiles came even close to matching what Apple does with small type fonts today. I can't even say I really like it, because there is very strong grid fitting, but in a radically different way than how Microsoft or FreeType do it. It seems to be either blending a grid fitted version with a non grid fitted version, or dil

[2018-11-08 22:47] sammilucia commented on #455
@AnClark did the new installer correctly remove the old installer now?

[2018-11-08 22:58] sammilucia commented on #401
@extratype to me your DirectWrite settings look quite different from GDI ... but then viewing English not Chinese ... ?

[2018-11-08 22:59] sammilucia commented on #401
@mufunyo yes I'm not a fan of tight grid alignment either. It ruins the integrity of the font. Would never have happened if Steve was still alive! 😂

😭

[2018-11-08 23:04] sammilucia commented on #475
@snowie2000 can these overrides be added to MacType.ini?

I'm thinking it would make sense for us to have a list of all the known fixes in the main MacType.ini rather than the profiles... That way we can maintain individual software fixes and all the profiles would work as expected..  Thoughts?

[2018-11-09 00:59] extratype commented on #401
@sammilucia I can't match it with GDI while keeping letters clear. You can't make them thicker without ruining the anti-aliasing (DirectWrite sucks again). So I took a compromise.

[2018-11-09 02:20] sammilucia commented on #401
Right. So maybe we could describe this profile as Soft and clear (or something) for Chinese text?

[2018-11-09 04:10] extratype commented on #401
@sammilucia I didn't care about languages when I wrote my profile. I speak Korean though.

[2018-11-09 05:17] snowie2000 commented on #441
@sammilucia Could you try it for me?
After you reboot, click start menu->Run->mactype.dll，see if it gives you an error like

[2018-11-09 07:17] sammilucia commented on #441
Is there a new private build?

Tried with the current beta straight after reboot and got:
![image](https://user-images.githubusercontent.com/3295286/48248508-82055a80-e447-11e8-8653-44850edcb692.png)

... This was with MacType in Tray Mode (as Administrator).

[2018-11-09 10:52] Mraru commented on #441
I (also with my classmate) have the same problem.

I use MacType in Registry Mode and my system is Windows 10 x64 Ver.1089, everytime when I restart my computer I have to run "MacTray.exe" or "MacWiz.exe" manually to apply MacType.

[2018-11-09 12:55] mufunyo commented on #401
@snowie2000 Personally I think it accomplishes neither; it doesn't follow the original shapes of the font because it's grid fitted, and the dilation or blending (whichever method is actually used) makes the font fuzzy regardless. It seems like the kind of compromise-by-committee that produces the ugly cars you see on the road today. Like @sammilucia said, wouldn't have happened if Steve was still

[2018-11-10 04:12] sammilucia commented on #474
Yes it works running MacTray as Administrator ... Just not as a User. I can't see any reason it shouldn't work running as User though.

[2018-11-10 04:33] sammilucia commented on #454
Fixed
https://github.com/snowie2000/mactype/wiki/ClearTypeLevel
https://github.com/snowie2000/mactype/wiki/Contrast
https://github.com/snowie2000/mactype/wiki/GammaValue

[2018-11-10 04:33] #454 closed

[2018-11-10 07:48] txbsywcq commented on #441
Hello, same issue:
windows 8.1 x86
mactype v20170628
centbrowser v3.6.8.99 and v3.5.3.25

.ini:
DirectWrite=1
FontSubstitutes=1

Use MacType in Service Mode or registry mode
Restart Windows
Log in
Run total commander, Everything, 火绒, centbrowser
MacType is applied to any software except centbrowser and 火绒's hipsmain.exe
Find mactype.dll, mactype.core.dll, easyhk32.dll loaded in chrome.exe
Find mac

[2018-11-10 12:56] snowie2000 commented on #474
I think you only give sufficient permission to administrators, but as a non-elevated process, it has only at most power user privilege.

[2018-11-10 12:59] snowie2000 commented on #441
hipsmain is an anti-malware software which definitely has self-protection builtin. It's designed to not let anything to hijack it.

This problem looks much more common than I thought.

[2018-11-10 23:06] sammilucia commented on #475
We welcome all languages here, so far there's been no problem using Google translate. It just thaws a little more umbrella.

[2018-11-10 23:09] sammilucia commented on #474
Yes however my point is User now has permission to change MacType.ini, so why wouldn't it work as User?

[2018-11-11 03:00] snowie2000 commented on #474
Try to give full control to everyone.  that's how I solve the problem every time it doesn't work with specific user privilege

[2018-11-11 08:35] sammilucia commented on #474
Tested, no that didn't work either. It's not a permissions problem, MacTray.exe doesn't actually try to write MacType.ini when it's not running as Administrator...

Running as User - has an 'open if' condition and I assume it fails - because the actual read/write request doesn't fail (says REPARSE):
![image](https://user-images.githubusercontent.com/3295286/48310787-82872800-e5e4-11e8-9291-1ce001c

[2018-11-12 01:30] snowie2000 commented on #474
Yes, I do have a permission checking here. Can you give the file full control to everyone and try again?
Thanks.

[2018-11-12 01:32] snowie2000 commented on #475
@sammilucia So far, MacType only reads few sections from macType.ini, they need to be modified to read the file as a global configuration.

[2018-11-12 05:52] kraml commented on #416
Noticed blurry text on mmc.exe on 4K screen with 250% scaling, not sure whether it is the same issue as this one.

The mmc.exe window without MacType rendering:
![snipaste_2018-11-12_13-50-43](https://user-images.githubusercontent.com/358679/48329084-07744f00-e682-11e8-96c7-80a32ddf99d2.png)

The window with MacType from #472, it is quite blurry.
![snipaste_2018-11-12_13-51-08](https://user-images

[2018-11-12 06:06] snowie2000 commented on #416
Known issue, but won't be fixed recently.
I don't have such an environment to develop and debug MacType.

[2018-11-12 08:47] sammilucia commented on #416
@snowie2000 would it help if I set up a dev Win10 machine and publish it to you via Remote Desktop Services?

[2018-11-12 13:45] AnClark commented on #455
@sammilucia No... The problem still exists...

[2018-11-12 14:03] kraml commented on #416
As far as I know there is no font anti aliasing won't work on RDP session.

[2018-11-12 14:47] IceMan81 commented on #416
Depending on the quality settings (which in this case depends on your network bandwidth) on your RDP session, you can see the effects of Mactype. And depending on your screen quality of your RDP session, it could be better or worse that what you see directly on your local monitor.

I RDP into my windows work machine from my MacBook and the rendering quality is way better than what I see on my work

[2018-11-12 14:54] snowie2000 commented on #416
Cleartype can be disabled (disabled by default actually) in RDP sessions but MacType will always work in RDP.

The problem with enhanced DPI scale is that Microsoft didn't provide enough information on how it is done internally.
Looks like they separated the rendering of text from the background bitmap. Will be very helpful if anyone can find some documentation of it for me.

[2018-11-13 02:12] luantu commented on #407
最终如何解决？卸载Clover3？

[2018-11-13 02:12] luantu commented on #407
@tanhx

[2018-11-13 02:19] luantu commented on #407
@tanhx  我这边也尝试过卸载clover3 但是问题依旧。。取消mactype渲染立刻就恢复。

[2018-11-13 04:49] AnClark commented on #455
It says "This operation is only available for current installed product."

[2018-11-13 05:05] sammilucia commented on #455
Do you still have the old MacType package installed?

[2018-11-13 05:16] IceMan81 commented on #472
@snowie2000 Any ideas on the above behavioral change with the hinting modes?
fyi, this is on Win 7

[2018-11-13 07:59] jmbattle0 commented on #427
Hello @snowie2000 and @sammilucia, great to see MacType development continuing!

Currently, I am still using the latest official 2017 release - I haven't tried the betas yet.

This is not a major issue at all, however I noticed that the splash screen on Adobe CC apps shows very bold (Japanese) characters when cycling through the loaded components, but only when the splash appears *above* another w

[2018-11-13 08:11] snowie2000 commented on #427
@jmbattle0 I noticed this problem before, and yes, it's not a big deal. I thought it was due to the programmer incorrectly extract text from the background by scanning for alpha changes, like issue #440.

And interestingly enough, this issue is gone in the latest beta. Maybe, they are indeed the same.

[2018-11-13 10:39] fonlan commented on #472
"q" can't display with Montserrat font.
![image](https://user-images.githubusercontent.com/7898348/48408079-65cd2a80-e773-11e8-8d0c-dea97f84239c.png)
Switch to other found has no this issue
![image](https://user-images.githubusercontent.com/7898348/48408105-741b4680-e773-11e8-823f-58b9c7cde1ce.png)

[2018-11-14 01:29] AnClark commented on #455
No. I just only installed the new one.

[2018-11-14 01:57] sammilucia commented on #455
@AnClark I don't understand - you said the new installer didn't work (didn't remove the old version), but now you've said you didn't have the old package installed when you ran the new installer?

[2018-11-14 03:14] tanhx commented on #407
正解

[2018-11-14 05:34] snowie2000 commented on #472
@fonlan No problem has been observed.
Which font and program were you using?
![qq 20181114133259](https://user-images.githubusercontent.com/11767189/48462141-ef333a00-e811-11e8-81af-64e67807fe6d.png)

[2018-11-14 07:04] IceMan81 commented on #472
I was comparing to the previously released beta - but it looks like I'm only seeing an impact on PragmataPro which is what I use as my monospace font. On the flip side, the discussion here about the vertical antialias is no longer an issue with the DW version. I do not see any artifact when ligatures are enabled.

[2018-11-14 07:54] snowie2000 commented on #472
Yes, I fixed the vertical anti-aliasing bug existed long ago.

[2018-11-14 09:08] fonlan commented on #472
Font name is Montserrat. I found it's not installed font Montserrat in my PC. But the PPT copy from others used Montserrat font. So I think Montserrat was fallback to some other font. That cause this issue. How can I know which font it will fallback to? Win10 EN.

[2018-11-14 13:12] AnClark commented on #455
I mean now I only keep the new version installed.

[2018-11-14 13:32] sammilucia commented on #455
Okay - thank you @AnClark !

Installer now removes rogue AppID {D8B34DBD-F627-4B41-86FD-52A6D843B4FA}
Registry Mode not applying on restart appears to be a duplicate of #441
DirectWrite problem is known issue mentioned #472
Closing issue

[2018-11-14 13:34] #455 closed

[2018-11-15 02:08] snowie2000 commented on #472
@fonlan There is such an option to see the font substitution used in Word, but I didn't find the same option in PowerPoint.

[2018-11-15 02:12] extratype commented on #472
As far as I know font families in PowerPoint 2016 are chosen the same way as Word.

[2018-11-15 07:36] snowie2000 commented on #441
@sammilucia @txbsywcq I would like you to try the software `PCHunter` to check for the hooks in the affected applications.
Since it is a Chinese site, I'll just give you the link. http://www.xuetr.com/download/PCHunter_free.zip

After downloading the software, launch the one matching your arch, and do as the following picture:
![untitled](https://user-images.githubusercontent.com/11767189/48537252

[2018-11-15 15:38] h404bi commented on #472
I met an issue like below after overwriting files with`MacType-1107-DW-b1.zip`:

![20181115232321](https://user-images.githubusercontent.com/5764917/48563264-e84e1980-e92e-11e8-9942-3f6f263f7426.png)

Below is the version information:
![20181115232415](https://user-images.githubusercontent.com/5764917/48563266-e84e1980-e92e-11e8-9d6c-32ec0f4fab55.png)

Don't know if here is the right place to post

[2018-11-16 07:16] snowie2000 commented on #472
@h404bi You don't have to. The archive has covered all the necessary files, so it should be no major difference.

I think the problem with your vs installer is that you replaced fonts. Some programs are not compatible with font replacement. They are designed to work with a specific font (monospaced font for example).
Try to disable the font substitution and try again.

[2018-11-16 10:35] kraml opened #476 "Program started from context menu of shortcut in start menu not rendered by MacType"
As shown in below screenshot, the app AnyDesk provides a context menu on its shortcut in start menu, to allow access of recent sessions.

When AnyDesk is started by clicking the icon in the start menu, it is rendered by MacType. When it started by clicking a session in the context menu, it is not rendered by MacType, this can be confirmed by visual and also DLLs in process explorer.

![snipaste_20

[2018-11-18 16:04] txbsywcq commented on #441
![image](https://user-images.githubusercontent.com/44917162/48675019-3b71d780-eb8e-11e8-9042-dfa455a9505d.png)
kernel32.dll vs. kernelbase.dll

[2018-11-18 16:16] txbsywcq commented on #441
after run macwiz.exe and re-open centbrowser:

![image](https://user-images.githubusercontent.com/44917162/48675135-167e6400-eb90-11e8-8a38-6946b827f663.png)

[2018-11-18 16:29] snowie2000 commented on #441
Please check the one doesn't work but with mactype dll loaded.

[2018-11-18 16:35] txbsywcq commented on #441
![image](https://user-images.githubusercontent.com/44917162/48675346-c05ef000-eb92-11e8-8d5a-44e069a5c7eb.png)
![image](https://user-images.githubusercontent.com/44917162/48675353-d7054700-eb92-11e8-989f-3ff6249c1388.png)
![image](https://user-images.githubusercontent.com/44917162/48675355-e71d2680-eb92-11e8-93ca-b66290890f25.png)

[2018-11-18 16:39] txbsywcq commented on #441
The first pic: MacType is not applied to centbrowser;
After running macwiz.exe, the second pic: MacType is applied to centbrowser;

[2018-11-18 16:50] txbsywcq commented on #441
Sorry, what do you mean about the process doesn't work but with mactype dll loaded?

[2018-11-18 16:55] txbsywcq commented on #441
Tampermonkey process:

![image](https://user-images.githubusercontent.com/44917162/48675569-6b70a900-eb95-11e8-96cb-47d46e0d82c9.png)
![image](https://user-images.githubusercontent.com/44917162/48675584-9b1fb100-eb95-11e8-8db1-ef9e00abd728.png)
![image](https://user-images.githubusercontent.com/44917162/48675592-b094db00-eb95-11e8-855f-8ed54ec23214.png)

[2018-11-19 06:29] kraml commented on #476
MacType is running in registry mode, btw.

[2018-11-19 07:59] sammilucia commented on #441
@snowie2000 hi sorry for the delay I'm just in the middle of launching a company (!) I'll complete this in the next couple of days.

[2018-11-19 08:02] snowie2000 commented on #476
Check the process tree and you'll probably find out that the process created by clicking the context menu is spawned from svchost.exe.

If that's the case, it will be fixed shortly as I'm working on it and kind of succeeded.

[2018-11-19 08:09] snowie2000 commented on #441
@sammilucia It's okay as the MacType project is used to evolve slowly 🤣🤣🤣

@txbsywcq Is the picture the situation when the MacType didn't work? 'Cause it looks so normal.

[2018-11-19 08:15] sammilucia commented on #441
@sammilucia not any more!! 😂 😜

[2018-11-19 16:22] txbsywcq commented on #441
@snowie2000 The first and the third picture i post is the situation when mactype didn't work on centbrowser, the second picture i post is the situation when mactype work.

[2018-11-20 06:48] snowie2000 commented on #476
![qq 20181120144656](https://user-images.githubusercontent.com/11767189/48756231-3ff3d880-ecd3-11e8-9f3d-cc8e7b07db48.png)
It has been fixed as of the latest development version.

[2018-11-20 07:01] snowie2000 commented on #441
@txbsywcq Your result conflicts with what @sammilucia observed, as he stated that MacType *DIDN'T* load into sub-processes of the centbrowser opposed to what you witnessed.

[2018-11-20 08:55] sammilucia commented on #441
@snowie2000 i'm a giirrrrlllll 😜

[2018-11-20 08:56] snowie2000 commented on #441
😝😝😝😝😝😝😝😝🙏🏻👱🏻‍♀️👱🏼‍♀️👱🏽‍♀️👱🏾‍♀️👱🏿‍♀️

[2018-11-20 09:14] sammilucia commented on #441
😂😂 @snowie2000 lol

okay so this is a chrome.exe subprocess immediately after reboot in registry mode, with the DirectWrite test version of MacType:
![image](https://user-images.githubusercontent.com/3295286/48763030-40ed3000-ecfc-11e8-8628-230cd4986181.png)

and chrome.exe after running macwiz.exe:
![2018-11-20 19_33_06-yusxyzbzt](https://user-images.githubusercontent.com/3295286/48763164-8b6eac8

[2018-11-20 09:18] sammilucia commented on #441
Yep it's working perfectly in service and registry mode. That's so weird, I tested it right after I installed the DirectWrite version and it wasn't working. The only thing that's changed is I installed Adobe CS6 which installed a bunch of Visual C packages ???
![image](https://user-images.githubusercontent.com/3295286/48763432-38e1c000-ecfd-11e8-9cf8-4db0d25cdb83.png)

[2018-11-20 10:38] fonlan commented on #467
我这边是系统设置的mactype相关dll有加载，但是没有渲染，是同一个问题么？用的DirectWrite Power版本

[2018-11-20 11:05] snowie2000 commented on #441
So the problem is gone and everything is working flawlessly now?  Even after a reboot?  Everything else is still the same excepted those runtimes you installed?

[2018-11-20 11:07] snowie2000 commented on #467
是同一个问题。uwp程序只有在最开始的时候就加载才有效果，中途加载进去是无效的.
目前我正在处理另外一个重新启动以后无法生效的问题，等这个问题处理完了以后，会一并发布新的修正。

[2018-11-20 11:29] snowie2000 commented on #441
Oops...

[2018-11-20 11:31] sammilucia commented on #441
¯\_(ツ)_/¯

[2018-11-20 11:35] snowie2000 commented on #441
Mactype is compiled dependency free, including easyhook. So installing runtimes should makes no difference.

[2018-11-20 12:04] sammilucia commented on #441
Yeah.... really weird... It does sound like @txbsywcq has seen the same problem though

[2018-11-20 14:49] txbsywcq commented on #441
On my win 8.1 x86 lite version, MacType is applied to any software except centbrowser after reboot.
I wonder if it's because lacking some font file, because @sammilucia said she installed Adobe CS6, i think that will install many font to system.

[2018-11-20 14:57] snowie2000 commented on #441
Could you please try chrome or cent browser with directwrite enabled?

[2018-11-20 15:09] txbsywcq commented on #441
![2018-11-20 23-7-56](https://user-images.githubusercontent.com/44917162/48782454-31c8ab00-ed19-11e8-8676-eb79e6ded187.png)

[2018-11-20 15:12] snowie2000 commented on #441
OK and I noticed a problem. You and @sammilucia have all turned the cleartype off.  please turn it back on and try again to see if it works.

[2018-11-20 15:21] txbsywcq commented on #441
Done, and yes it's because cleartype off.

[2018-11-20 15:22] snowie2000 commented on #441
So you mean it's working now?

[2018-11-20 15:34] snowie2000 commented on #441
Very good so we found the root of the cause.  I'll check out the details tomorrow.
 Thank you very much

[2018-11-20 23:30] sammilucia commented on #441
How do I turn cleartype on? (How did I turn it off?? 😜)

[2018-11-21 01:50] txbsywcq commented on #441
search cleartype in control panel.

[2018-11-21 02:10] snowie2000 commented on #441
![qq 20181121100809](https://user-images.githubusercontent.com/11767189/48814415-96b1ee80-ed75-11e8-87b4-aabb8811c44d.png)
You can find cleartype tuner in the display property dialog.

[2018-11-21 02:42] sammilucia commented on #441
Yes I did that's why I'm confused ... Mine says its enabled
![image](https://user-images.githubusercontent.com/3295286/48815635-139d9200-ed8f-11e8-9137-99406c480702.png)

[2018-11-21 02:43] snowie2000 commented on #441
@sammilucia That's why your Mactype is working now.
Look at the picture here https://github.com/snowie2000/mactype/issues/441#issuecomment-428483840, the ClearType was definitely off.

[2018-11-21 02:55] sammilucia commented on #441
HMMM, let me test, I'll disable, leave MacType in Registry Mode and restart.

[2018-11-21 05:29] snowie2000 commented on #441
I tested it on Windows 10 with ClearType off, but it still works.
Maybe things are different on the latest Windows.

As far as I know, turn on/off ClearType alters the way GDI works.
Normally, all the text APIs will eventually call `ExtTextOutW` for final drawing, but if you turn ClearType off, some of the APIs will directly interact with the kernel and paint text without calling `ExtTextOutW`.
Be

[2018-11-21 06:38] fonlan commented on #472
![mactype_bug](https://user-images.githubusercontent.com/7898348/48823159-c0314100-ed9a-11e8-8cf1-1070bcb74bf6.gif)
Very strange render for this url. After open below link and scroll to certain position it will lost render. But if scroll to any other position it's correct. Detail show as the gif.
https://scikit-learn.org/stable/auto_examples/bicluster/plot_bicluster_newsgroups.html

[2018-11-21 06:41] snowie2000 commented on #472
Looks like you lost your shadow but the texts are still affected since their shapes were pretty much the same.

[2018-11-21 06:45] fonlan commented on #472
But in my profile the shadow are all 0. Also no customized style used in Firefox.
Shadow=0,0,0,0x0,0x0

[2018-11-21 07:38] sammilucia commented on #441
Ahh right!

Okay I disabled ClearType, changed to Registry Mode, restarted ... The problem appeared!

I wonder if MacWiz should enable ClearType on Windows XP - 8.1 to avoid this problem in the future?

[2018-11-21 07:40] snowie2000 commented on #441
Of course I can, but some users just thought it's not necessary to have both MacType and ClearType turned on and decided to turn it back off.

[2018-11-21 07:42] fonlan commented on #472
[General]
Name=Default
Icon=..\mactray.exe.ico,0
HookChildProcesses=1
HintingMode=1
AntiAliasMode=4
NormalWeight=16
BoldWeight=3
ItalicSlant=0
UseMapping=0
GammaMode=0
GammaValue=1.4
Contrast=1.4
RenderWeight=1.6
DirectWrite=1
TextTuning=0
TextTuningR=1
TextTuningG=1
TextTuningB=1
BolderMode=0
FontLoader=0
FontLink=2
FontSubstitutes=1
MaxHeight=0
Shadow=0,0,0,0x0,0x0
LcdFilter=2
LoadOnDemand=1
Cac

[2018-11-21 07:54] snowie2000 commented on #472
No ghost shadow, no rendering lose, nothing strange happened.

[2018-11-21 08:09] sammilucia commented on #441
Maybe it just needs a warning

On Wed, 21 Nov 2018 at 18:10, snowie2000 <notifications@github.com> wrote:

[2018-11-21 08:30] fonlan commented on #472
Which browser do you use? I only find this issue with Firefox. Currently I'm using Firefox 63.03 X64.

[2018-11-21 08:31] snowie2000 commented on #472
Firefox 63.0.3 x64, the latest.

[2018-11-21 10:35] fonlan commented on #472
OK. My firefox may be sick. T_T

[2018-11-21 10:51] snowie2000 commented on #472
Is it the same problem with issue #439

[2018-11-21 14:00] fonlan commented on #472
Looks like the same. In my Firefox I can reproduce it permanently.

[2018-11-21 14:02] snowie2000 commented on #472
You can reproduce the bug #439 easily and consistently?

[2018-11-21 15:10] fonlan commented on #472
I'm not sure whether my issue and bug #439 are the same root cause or not. But for my issue I can reproduce it permanently.

[2018-11-22 01:47] IgnacioMD opened #477 "Mactype don't work properly on Thunderbird 60."
Hi,, my computer has Windows 8.1 x64, Mactype v1.2018.10.19-beta4 running as a service.

Three days ago I upgraded Thunderbird from version 52 to version 60 (TB skips version numbers). After the update, Mactype does not work in TB 60, unless I manually run mactray.exe (That's why I created a shortcut in the start menu).

I recorded a video that is attached.

[ice_video_20181121-222532.zip](https:/

[2018-11-22 01:49] snowie2000 commented on #477
I believe the Thunderbird is built on DirectWrite.
Would you like to join the DirectWrite test community? 😜

Try this one #472

[2018-11-22 01:51] snowie2000 commented on #477
And please please turn ClearType back on. ClearType is necessary to make MacType fully functional. (Although the ClearType itself is not need, it changes the way Windows works).

[2018-11-22 01:53] IgnacioMD commented on #477
Ok. I will try and later I will comment

[2018-11-22 10:02] fonlan commented on #467
Firefox好像也有类似的问题，MacType以服务模式加载，如果在Firefox运行的时候重启MacType的服务，在MacType服务重启完成后Firefox依旧无法恢复渲染。在不关闭当前Firefox的情况下新建一个Firefox窗口则新窗口的网页内容能被渲染，但Firefox的界面依旧无法渲染。应该是Firefox对新建的窗口使用了新的进程。

[2018-11-22 10:11] snowie2000 commented on #467
firefox和chrome一样对子进程都是有沙盒保护的。一旦进程启动，就没有办法注入进去。这是正常现象。

[2018-11-22 10:16] fonlan commented on #467
原来如此，好在这个问题影响不大

[2018-11-22 23:16] IgnacioMD commented on #477
@snowie2000 I'm trying the "DirectWrite powered version", Cleartype always was on, and same thing happens with Thunderbird, even using the workarounds for Firefox.

[2018-11-23 12:35] eroneko opened #478 "x64 programs are not automatically rendered with MacType in 2018.10.19 beta"
I clean installed mactype 10.19 beta and selected registry mode but could ony get x86 programs to be automatically rendered with mactype. Manually enabling x64 programs with mactype in process manager is working.
I'm using Windows 10 1809 LTSC.
![qq 20181123203018](https://user-images.githubusercontent.com/5058776/48943627-b9ebc200-ef5e-11e8-9349-70e6fceec696.png)

[2018-11-23 12:40] snowie2000 commented on #478
You should check your registry for correction, which is kind of complicated.

Try this easy solution: Start->Run->MacType64.dll, it should give you a warning of opening a DLL file or ask you to select a program to open it. If it cannot find the file, there is something wrong with your environment variable settings.

Then you should check what in the registry position described here: https://suppor

[2018-11-23 13:31] eroneko commented on #478
For the first solution, it does give me a warning of opening a dll file so maybe it has nothing to do with my environment variable settings.
These are what I have in HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
![qq 20181123212922](https://user-images.githubusercontent.com/5058776/48945913-eefc1280-ef66-11e8-9768-a889ebd87e6a.png)

[2018-11-23 23:59] snowie2000 commented on #401
This is a setting  in GDIPlus  helium version it  doesn't work in mactype

[2018-11-24 04:44] snowie2000 commented on #478
Appinit_dlls must have a "mactype64.dll" in it. It was probably denied by your security software.

Write to it manually should fix the problem.

[2018-11-24 10:37] sammilucia commented on #478
I had this problem when I first installed MacType .. MacWiz said it was already in Registry Mode, however AppInit_DLLs wasn't set .. And clicking Next Next Finish in MacWiz (in Registry Mode) didn't add it.

[2018-11-24 13:54] snowie2000 commented on #478
That's why your x86 applications are working correctly.

On Sat, Nov 24, 2018 at 21:24 eroneko <notifications@github.com> wrote:

[2018-11-24 14:41] snowie2000 commented on #478
That's because the wizard checks the x86 part of the registry. If it successfully found the expected key, it'll treat the start mode as registry.

When you didn't change the loading mode (at least the wizard thinks so), it does nothing.

[2018-11-25 02:36] sammilucia commented on #478
Yes I know ... I just suspect there's a set of conditions where MacWiz thinks it's in Registry Mode but MacType isn't actually working.

[2018-11-25 02:37] sammilucia commented on #478
@snowie2000 Maybe I should clear both registry areas when installing the latest version? ... Yes, I need to add this function.

[2018-11-25 02:40] sammilucia commented on #478
@snowie2000 MacWiz should also be checking *both* registry strings and making sure they're consistent.

[2018-11-25 02:49] sammilucia commented on #478
@snowie2000 I assume it will only be MacType.dll (not MacType64.dll) that appears in HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Windows NT\CurrentVersion\Windows
?

[2018-11-25 03:07] snowie2000 commented on #478
Yes, wow6432node only needs the mactype.dll file

I'll complete the check.

[2018-11-25 03:09] sammilucia commented on #478
@snowie2000 yep confirmed. Changes to the installer are done, I'll commit them shortly

[2018-11-25 03:19] sammilucia commented on #478
@snowie2000 should be pushed. As you know I've been having SSL problems which should now be fixed. Can you please confirm you can see that commit on Inno-setup branch?

You can merge the Inno-setup branch if you want

[2018-11-25 08:14] snowie2000 commented on #478
Confirmed.

[2018-11-25 08:15] sammilucia commented on #478
Great thank you.

[2018-11-26 07:11] wmjordan opened #479 "MacType.net is broken"
The site was inaccessible.
![ee16d73c-f4bd-4e91-8b6c-0d12b3d94289](https://user-images.githubusercontent.com/12182730/48998239-e0437480-f18d-11e8-9ccf-103abd6ba36a.png)

[2018-11-26 07:18] snowie2000 commented on #479
Thank you, checking on that...

[2018-11-26 07:20] snowie2000 commented on #479
It's back now. Thank you.

[2018-11-26 07:20] #479 closed

[2018-11-26 07:34] snowie2000 commented on #477
![qq 20181126153356](https://user-images.githubusercontent.com/11767189/48999154-bc356280-f190-11e8-98bd-76a70310756c.png)
I'm not familiar with Thunderbird at all, but apparently it's working on my system.

[2018-11-26 08:20] fonlan commented on #478
Pick a small stool to wait for the new beta^_^

[2018-11-26 09:33] wmjordan commented on #479
已捐赠 just now 💰
Thank you for saving my eyes for these years!

[2018-11-26 09:36] wmjordan commented on #479
I also recommended MacType within my VS Extension at
https://marketplace.visualstudio.com/items?itemName=wmj.Codist#user-content-display-enhancements

[2018-11-27 03:14] snowie2000 commented on #479
Thank you for your donation and thank you for the recommendation. I'll give it a try.

[2018-11-28 02:25] wmjordan opened #480 "WPS Office 2019 渲染无效"
最新的 MacType Beta4+DirectWrite 测试版，在 Win10 1809 上服务加载。
WPS Office 2019 无法渲染。

![default](https://user-images.githubusercontent.com/12182730/49124559-de95c000-f2f7-11e8-8fd6-7815f996f42a.png)

[2018-11-28 02:35] snowie2000 commented on #480
![qq 20181128103407](https://user-images.githubusercontent.com/11767189/49124945-400a5e80-f2f9-11e8-808d-1ee456d70e12.png)
请用向导的进程管理器查看wps的加载状态后再看是什么问题。我这边一切正常。

另外dw增强版的问题请不要另外新issue。

[2018-11-28 04:07] wmjordan commented on #472
This build could not render WPS Office version 11.1.0.7989 on Windows 10, 64bit, 1809 (with the latest Windows Update).
MacType was loaded by service.

I checked the processes and found that the status of wps.exe was disabled. I tried to click the `Enable` buttont to turn it on, but failed, none of any wps.exe processes could be changed to enabled.

![default](https://user-images.githubusercontent